[2012-12-27 14:54] ghost opened #3 "subscribe to a.b.c.d does not respond to publication of a.b.*.*"
In ruby_nats, subscribing to "a.b.c.d" will trigger a function when another process publishes "a.b._._" (or any wildcard variation of a.b.c.d).   It does not appear to behave the same way in node_nats.

nats.subscribe("A.B.C.D", function(msg,reply,subject) {});

then

nats-pub A.B.C.D 'message'
node.js responds

nats-pub A.B._._ 'message'
node.js has no response

The inverse behavior, e.g. subscri

[2012-12-27 20:06] #3 closed, assigned to nobody

[2013-12-12 01:44] hjespers opened #5 "'npm install nats' fails on node 10.22"
Is there a reason the code doesn't run on node 10.22 or should the package.json just be updated to allow the most current node runtime environment?

I get the following error on Mac OS X 10.9 running "npm install nats"

nats@0.2.8: wanted: {"node":">= 0.4.x <= 0.10.x"} (current: {"node":"v0.10.22","npm":"1.3.14"})

If I install it manually and run node_pub.js and node_sub.js against gnatsd the dae

[2013-12-12 17:21] #5 closed, assigned to nobody

[2014-08-14 23:18] sbberic opened #6 "When message size goes out of sync, client hangs and does nothing"
The nats server seems to be sending incorrect message size in the message "header". When the client receives a payload in stream.on('data') callback, it uses regular expressions to try and match for the header type (MSG, OK, ERR, PONG, etc) When the message size provided by the server is incorrect, it takes part of the next message and puts it as part of the current message. During the AWAITING_MS

[2015-01-06 23:53] abstractvector opened #9 "Stream buffer left dirty when stream is closed"
When the stream is closed, the `client.inbound` is not cleared. This means that when the client reconnects, it starts with a dirty buffer onto which new stream data chunks are appended. Consequently, if the stream is closed in the middle of receiving a message, parsing will fail when the stream reconnects. See here: https://github.com/abstractvector/node_nats/commit/3c274d0cceee8808a26d958a2b714ba

[2015-06-18 16:28] derekcollison commented on #9
Working on this now.. Had some bad processing in error handling too, but have a test case to reproduce, fixed error handling, and clearing inbound works on reconnect now.

[2015-06-18 17:26] #6 closed

[2015-06-19 14:54] #9 closed

[2015-07-31 17:46] derekcollison opened #14 "Bad Messages / Parser errors under heavy load"
Happens when we switch between buffers and strings in terms of what the streams are handing us.

[2015-08-05 05:49] #14 closed

[2015-08-30 03:17] ahallock opened #17 "JSON Parse Error"
I have a JSON structure with a text field (which also happens to be JSON in this failure case), and intermittently receive a JSON parse error when parsing that field. I was able to reproduce (sometimes) using the following:

https://gist.github.com/ahallock/38afc33f1f6d16064d5c

Versions:
node-nats 0.4.0
https://hub.docker.com/r/apcera/gnatsd/ (latest)
iojs 1.8.4

When the parsing error occurs, th

[2015-08-30 06:28] derekcollison commented on #17
Try node-nats 0.4.2 and see if you can repeat it with the latest release..

I will take a look as well, thanks for the report.

On Sat, Aug 29, 2015 at 8:17 PM, Andrew Hallock <notifications@github.com>
wrote:

[2015-08-30 06:29] derekcollison commented on #17
Also latest version of gnatsd under the docker repo is compiled with 1.5 which had some anomalies. The official releases for gnatsd 0.6.6 were reverted to being compiled with 1.4.2, but I left the docker images as is for now, 1.5.1 is supposed to be out soon.

[2015-08-30 06:32] derekcollison commented on #17
iojs is now on version 3.2.0, so that is another variable.

[2015-08-30 15:15] ahallock commented on #17
I tried using:
iojs 3.2
gnatsd 0.6.6
node-nats 0.4.2

The problem persists, but appears to be less frequent. Could it be something with the large number of `\` in the JSON string?

[2015-08-30 15:23] derekcollison commented on #17
node v0.12.7 same issue?

[2015-08-30 15:23] derekcollison commented on #17
Unclear, but I will take a look. Thanks again for the heads up..

On Sun, Aug 30, 2015 at 8:15 AM, Andrew Hallock <notifications@github.com>
wrote:

[2015-08-30 16:09] ahallock commented on #17
Happens on node v0.12.7 as well. Seems to longer strings causing the issue, not `\`. Threw together a rough test:
https://gist.github.com/ahallock/38afc33f1f6d16064d5c#file-test2-js

[2015-08-31 03:45] derekcollison commented on #17
Thanks, will take a look in next day or so.. Appreciate the details.

[2015-08-31 17:01] kozlovic commented on #17
Looks like test2.js is incorrect. You should do buffer.write('a', i); instead. Otherwise, you just set one character and convert it to a string that does not have an ending. If you were to print the reply before publishing it (in subscribe()), you would see that you are sending random bytes...

I can't make test.js to fail on my system though.

[2015-08-31 17:18] ahallock commented on #17
@kozlovic Even with `buffer.write('a', i)` I'm still receiving the same error. What is your environment?

[2015-08-31 17:47] kozlovic commented on #17
Node: v0.12.7
gnatsd: 0.6.6
mac book pro/Yosemite

What error are you receiving? Is it in the client with say "Bad length", or other errors, or in gnatsd? Have you tried running gnatsd with the command line parameters "-DV" and check that the sizes are consistent (last filed in [MSG and [PUB should be 10000).

[2015-08-31 17:50] ahallock commented on #17
The "Bad length" error. Sometimes it will complete without any errors, sometimes the length difference is 20 or so. I'll try running gnatsd with "-DV"

[2015-09-02 15:35] derekcollison commented on #17
I am going to take a look today. I will check to make sure its valid JSON (most likely is fine) and also if compiling the current server with go1.4.2 vs go1.5 makes a difference. Again, thanks for the patience..

[2015-09-03 00:03] derekcollison commented on #17
Some updates, I do not believe its the gnatsd code base, I dissected it fairly well. Its something in the Node client. It is hard to reproduce but I have seen it have the wrong length. Stay tuned.

[2015-09-03 17:07] bjflanne opened #18 "Issue passing parameters between NATS and Consul"
-Issue reported with how the client parses the opts parameter.
-not entirely intuitive, that a protocol should be required.
-If you pass in something like "consul.service:4222" as the URL, the ```parseOptions()``` method will parse that as having a protocol of "consul.service" and lead to a crash
-crash will happen in events.js, which makes it seem like a connection error rather than a string-pars

[2015-09-03 18:08] derekcollison commented on #17
ok I have tracked it down, it's a bug in the Node.js client. Will checkin fix in a short bit, have one more issue I want to address then will do a release. Feel free to look at head to test that it works for you while you wait for it to land in npm, but I am sure this is the issue. Reproduced with a modified version of your test.

Thanks..

[2015-09-03 18:14] derekcollison commented on #17
Fix is in master if you want to test.

[2015-09-03 18:14] #17 closed

[2015-09-03 18:33] ahallock commented on #17
Will check shortly -- thanks for digging into this.

[2015-09-03 18:35] derekcollison commented on #17
Thanks for the report.

On Thu, Sep 3, 2015 at 11:33 AM, Andrew Hallock <notifications@github.com>
wrote:

[2015-09-03 19:35] dlabey opened #19 "Cannot Specify External Connection"
When I try to do:
[code]

I get:
[code]

It looks like there is no default for opts.port and opts.port is not being assigned as an option.

[2015-09-05 15:35] derekcollison commented on #19
You are not pasing a url, you are passing an IP which when parsed by url.Parse can not find a scheme or protocol and hence no default port. I can add code to pull the port option in, but it's best to do the following.

[code]

[2015-09-10 20:53] dlabey commented on #19
Will this work for Consul as well?

[2015-09-11 00:34] ajschlosser commented on #19
@dlabey ```'nats://your-favorite.consul.service:4222'``` will work.

[2015-09-11 05:36] dlabey commented on #19
Ah yes worked well.

[2015-09-11 05:36] #19 closed

[2015-09-14 20:33] ronag opened #22 "use cuid for createInbox"
The `createInbox` implementation is a bit inefficient both in terms of size and uniqueness, I would suggest a much better implementation such as https://github.com/ericelliott/cuid.

[2015-09-15 01:32] derekcollison commented on #22
Thanks I will take a look..

[2015-09-15 13:20] ronag opened #24 "Promises"
As far as I know all javascript platforms now support Promises natively. I would like to suggest that we upgrade the nats api to make use of that. Currently it doesn't even properly follow the node thunk pattern.

[2015-09-15 14:24] derekcollison commented on #24
Apologies, what is the node thunk pattern? Promises were very early on when Ryan originally designed Node and then removed. Seems they are now back in, which is fine. What do you propose API wise? What part of the system would you want the promises to effect?

Thanks!

[2015-09-15 15:30] ronag commented on #24
So in node, the pattern of callbacks is `function(error, result)` where the first argument is always the error and the second argument is the result. The way it is now makes the nats callbacks not compatible (without wrappers) with quite a lot of async libraries, such as highlandjs, rxjs etc...

I would suggest the following pattern:

[code]

[2015-09-15 15:40] ronag opened #25 "Auto-unsubscribe request subscriptions?"
Shouldn't requests subscriptions be auto-unsubscribed, i.e. `{max: 1}`? As it is now I believe a lot of people are leaving dangling subscriptions when using the request method.

If not I believe this needs to be more explicitly documented. If I hadn't read the code I wouldn't have realised as I don't believe even the examples unsubscribe.

[2015-09-15 16:35] derekcollison commented on #25
I will take a look.. At first glance you may be right..

[2015-09-15 16:49] ronag commented on #22
I'm not sure but I believe, especially depending on the javascript engine, using only Math.random for unique id generation makes it not entirely unlikely to get collisions.

[2015-09-15 16:52] ronag opened #26 "Why are the regex matches case insensitive?"
Doesn't the protocol specify the casing?

[2015-09-15 20:27] derekcollison commented on #26
No, its case insensitive. The server (try public on at demo.nats.io:4222) will accept any case. Clients could be since server only sends CAPS, but original design is not case sensitive.

[2015-09-15 20:27] #26 closed

[2015-09-15 20:38] derekcollison commented on #22
True depends on entropy pool underlying. Thanks again for all feedback on Node.js client. Will get these issues taken care of..

[2015-09-15 20:51] derekcollison commented on #25
You are correct. I can't believe I did not catch this before. Thank you. Fix in progress. Will do a release shortly after.

[2015-09-16 03:08] derekcollison commented on #25
Actually I correct myself. Since Node.js is not synchronous, nats.request() simply subscribes to an inbox for you but makes no assumptions on its own how many messages the client would want to receive or should be expected. The Subscriber Id (sid) will be returned and should be used to close the subscription as needed. Alternatively, if you know how many messages you want to receive at most,  you

[2015-09-16 03:08] #25 closed

[2015-09-16 03:18] ronag commented on #25
Ok. That makes total sense. However, I believe this is one of those things a lot of people will intuitively get wrong. Would it maybe be a good idea to e.g add a requestSingle or request1 helper method?

[2015-09-16 03:20] derekcollison commented on #25
Not with the true async mode of Node.js as the current client is written. Promises, etc will offer an opportunity to do so.

Maybe update the README. I will do that..

[2015-09-16 03:28] derekcollison commented on #25
See https://github.com/nats-io/node-nats/blob/master/README.md

[2015-09-16 03:29] #18 closed

[2015-09-16 03:50] ronag opened #28 "Subscription Callback Invocations"
Shouldn't we protect subscription callback invocations in a try/catch? Right now if the user provided callback throws an exception the parsing state becomes broken.

[2015-09-16 03:56] ronag opened #29 "Request subscription leak on invalid msg"
If a user passes in an invalid msg argument the publish function might throw an exception which will leave the subscription dangling. Request should probably look like this instead:

[code]

Also publish should probably assert that the `msg` is a string or explicitly try to convert it to a string since nothing else should work with `Buffer.byteLength`.

[2015-09-16 03:57] ronag opened #30 "Timeout Cancellation"
There should be a way to cancel a timeout request.

[2015-09-16 03:59] ronag opened #31 "Timeout Quiet Failure?"
Right now the timeout method simply returns if there is nothing to timeout. Though, when that happens it is very likely a user side bug. Shouldn't we be a bit more verbose about it? Even if we don't throw an exception maybe at least a warning? I mean, e.g. passing `sid==null` doesn't make much sense.

[2015-09-16 04:04] ronag opened #32 "Argument Validation?"
What is the policy in regards to argument validation? Right now a lot of weird stuff can quietly happen or crash the entire node process if users pass in invalid arguments, but maybe we leave the responsibility to the user?

[2015-09-16 04:06] ronag opened #33 "Close should be executed on nextTick?"
Right now if there is a pending flush, commands sent in the same tick as ´close` might fail? Optionally maybe flush before close? I'm not quite sure what would be the proper behaviour.

[2015-09-16 04:17] ronag commented on #33
i.e. right now this will not work:

[code]

[2015-09-16 04:18] derekcollison commented on #28
I don't believe so, try/catch are expensive and I believe distributed systems should fail fast. A user can wrap a function with try/catch if they choose.

[2015-09-16 04:19] #33 closed

[2015-09-16 04:22] derekcollison commented on #29
You need to subscribe before you publish. If not it's possible to have a race condition and miss the response since the subscription may not be processed yet.

[2015-09-16 04:23] ronag commented on #29
I don't think you can get a response before the subscription since publish will have to dispatch the actual message asynchronously.

[2015-09-16 04:24] derekcollison commented on #29
I can promise you it's possible. The server can process the PUB, send it to the responder and get a response back in a separate Go routine and throw it away before the SUB is received if its in a split buffer.

[2015-09-16 04:26] derekcollison commented on #29
In terms of assuring the message is a string or convertible to one, again, not sure we should spend time within the client and should instead have Node.js fail fast on bad args.

[2015-09-16 04:26] ronag commented on #28
Hm, I didn't realise try/catch were expensive. Usually they are near zero overhead unless something is actually thrown. But yes, they seem to have a bit of an overhead in node.

[2015-09-16 04:29] derekcollison commented on #30
So I understand correctly, you want to set a timeout on a subscription and then cancel that timeout?

[2015-09-16 04:29] ronag commented on #29
You sure? The 'data' event should not be able to be invoked while still inside the `request` function. I don't see how the `processMsg` function could be called before subscribe.

I will have to give some more thought into your "fail fast" argument.

[2015-09-16 04:30] derekcollison commented on #30
Feel free to submit PR.

[2015-09-16 04:30] ronag commented on #30
Fair enough.

[2015-09-16 04:31] ronag commented on #31
I'm closing this until https://github.com/nats-io/node-nats/issues/32

[2015-09-16 04:31] #31 closed

[2015-09-16 04:32] ronag commented on #28
again back to https://github.com/nats-io/node-nats/issues/32

[2015-09-16 04:32] #28 closed

[2015-09-16 04:32] ronag commented on #29
https://github.com/nats-io/node-nats/issues/32

[2015-09-16 04:32] #29 closed

[2015-09-16 04:34] derekcollison commented on #32
Its Javascript, so I do some arg validation but in general the app should be responsible. Will look at PRs for additional arg validation, but will be critical if its in the fast path for publishing or message delivery.

[2015-09-16 04:34] #32 closed

[2015-09-16 04:36] ronag commented on #32
Alright. We have a bit of a different policy internally (especially for NODE_ENV != 'production') but we can easily make a wrapper so that's fine.

[2015-09-16 04:37] derekcollison commented on #33
Correct, its Node.js which is an asynchronous language by default, so anything that has io you need to provide a callback to know it was processed.

[2015-09-16 04:39] derekcollison commented on #29
It does not matter what the client is doing, if the server discards the message because the interest graph is not correct, doesn't matter what the client is doing will never receive the message.

[2015-09-16 04:40] ronag commented on #24
Promise won't work with the current API. Will break to much since some methods return sids.

[2015-09-16 04:40] #24 closed

[2015-09-16 04:41] ronag commented on #29
Ah, of course. You are right. Thank you for explaining.

[2015-09-16 04:42] derekcollison commented on #32
It's a philosophy, but fail fast works in distributed systems IMO. I have written systems that try to recover, and I still do that to some degree in the server. For the client, it's more up to them the philosophy they want to take, but be good to watch "how much" a client is trying to recover, sometimes it's better to fail fast with error logs captured and restart.

[2015-09-16 04:43] derekcollison commented on #24
Not sure returning a sid gets rid of the possibility for promises being layered on top.

[2015-09-16 04:44] derekcollison commented on #29
No problem at all.

[2015-09-16 04:46] ronag commented on #32
Well, if there is a logic error recovering will not do much to help. There is a difference between a runtime error and a logic error. We want to catch or at least make logic and programmer errors visible as soon as possible in order to correct them.

But yes, it is indeed a philosophy question. I'm fine with this.

[2015-09-16 04:49] ronag commented on #24
Care to elaborate?

[2015-09-16 04:51] #30 closed

[2015-09-16 05:00] derekcollison commented on #24
Walking through your initial assumptions/suggestions.

request: returns promise if callback == null
**request is a stream, so not sure it's applicable.**

timeout: returns promise if callback == null
**Still possible**

subscribe: uses callback
**It has one now, but I assume you want args reordered?**

publish: remove unnecessary callback
**The callback is optional and allows code to execute after

[2015-09-16 05:05] ronag commented on #24
Yes, an Observable would be more appropriate.

Yes, and {msg, reply} should probably be combined into a single argument.

This is a bit out of topic. But care to elaborate when that is helpful?

[2015-09-16 05:10] derekcollison commented on #24
Why do you want msg and reply to a subscription's callback combined? Every message will have a subject, but reply is optional.

Even though NATS is a fire and forget system, there are times when you want to make sure a message has been processed by the server within the application. The optional callback to publish() provides that ability.

[2015-09-16 05:14] ronag commented on #24
Because you cannot have multiple arguments in a thunk or promise.

[2015-09-16 05:20] derekcollison commented on #24
I think subscriptions have a callback and are not converted to promises, IMO.

[2015-09-16 05:28] ronag commented on #24
let me rephrase, a nodejs stream or Observable work on single item streams. But you are right, with a callback it doesn't really matter.

[2015-09-16 17:53] ajschlosser commented on #25
On a semi-related note, how does the server know when a client has died? Does it periodically ping clients to make sure that they are alive?

We had a few crashes over the past couple of days (unrelated to NATS), and it seems like our gnatsd server now has a lot of dangling subscriptions. Is there any way to clean that up (aside from restarting the server)?

[2015-09-16 19:15] derekcollison commented on #25
You can monitor the server via the monitor port and tools like nats-top.

Both clients and the server will PING/PONG on a 2 minute (ish) interval.

Sounds like something may be leaking subscriptions, once a client connection is deemed dead by the server, the server will reap all of those subscriptions. But of a client is still up and leaking them, you want to know which client. The monitoring endp

[2015-09-16 20:47] ajschlosser commented on #25
Good to know. Thanks!

[2015-09-18 09:39] irobert91 opened #34 "JSON encoding"
Is there any chance of seeing it in node-nats?
And if so how would it be implemented?

[2015-09-18 10:47] ronag commented on #34
You can do it yourself? `JSON.stringify` in publish and `JSON.parse` in subscribe?

[2015-09-18 12:41] derekcollison commented on #34
+1

[2015-09-18 12:41] #34 closed

[2015-09-18 17:46] ronag opened #35 "Share Subscriptions"
Especially subscriptions that do not have any options could be interesting to use a reference counted sharing for. Would be a nice performance optimisation.

On the other side of the coin. Does the nats server internally share subscriptions to the same client, i.e. if the same client subscribes to the same subject twice I would assume the server will only send matching messages once?

[2015-09-18 19:10] derekcollison commented on #35
To keep the protocol simple, no. All of the client architecture is driven by it, so you subscribe and provide a unique client scoped closure that needs to be unique for the client context.

[2015-09-18 19:11] derekcollison commented on #35
The interest graph is optimized between servers, but not for clients. You would need a full on subject distributor in each client, it's not straightforward like one might think due to wildcard subscriptions.

[2015-09-18 19:11] #35 closed

[2015-09-19 15:46] ronag opened #36 "Provide "sid" to subscription callback"
Right now it is a little ugly to get the sid into the callback if one wants unsubscribe inside of the subscription callback.

[2015-09-19 21:30] ronag opened #37 "emit event for unsubscription?"
It would be useful (especially when wrapping nats) if there was some notification of when subscriptions are automatically ended, e.g. `on('unsubscribed', (sid) => console.log(sid))`

[2015-09-20 15:16] derekcollison commented on #36
Since arity is flexible, should I add it to the end? Right now its <msg, reply, subject>..

[2015-09-20 15:23] derekcollison commented on #37
That's a good idea, should I simply emit the event?

[2015-09-20 16:03] ronag commented on #37
Yes?

[2015-09-20 16:06] ronag commented on #36
Yes, the end should be good since we already do it like that everywhere else.

[2015-09-26 14:11] ronag opened #38 "Document callback signature in subscribe"
I keep going back to `subscribe` to remind myself what the signature of the callback should be and I keep missing it...

[2015-09-28 05:58] derekcollison commented on #38
Good idea.

[2015-09-30 12:21] ronag opened #39 "TypeError: Cannot read property 'length' of null"
[code]

Possibly user error? Needs some more error checking though as this doesn't give much to go on.

[2015-09-30 12:31] ronag opened #40 "TypeError: Cannot read property '3' of null"
[code]

Probably user error but would be nice with better error messages.

[2015-09-30 12:39] ronag commented on #40
Happens when trying to unsubscribe a closed instance. Should probably swallow error and warn.

[2015-10-05 19:06] ronag opened #41 "Performance issues"
We are seeing some significant performance issues with this library when processing a lot of mesages arriving in bulk.

I'm seeing our event loop being blocked for 200-1200ms. Which is not quite acceptable.

The first thing we kind of need is to make sure that the nats parser yields back to the event loop so that it doesn't block other things from making progress, i.e. use `setImmediate`, `setTime

[2015-10-06 14:15] derekcollison commented on #41
Which version of Node?

What is your callback doing in terms of processing the message?

When the initial client was written, regex was the fastest way to parse, if you look at the Go client you can see we use a hand written zero allocation parser to process the inbound stream. It may be time for us to revisit this with the node client.

[2015-10-06 14:27] derekcollison commented on #39
Any information you can share on what the program was doing when this occurred?

[2015-10-06 14:28] derekcollison commented on #40
Agree this should be cleaner, will get it into next release.

[2015-10-06 14:58] ronag commented on #39
Unfortunately no. It only happens sometimes and I haven't been able to consistently reproduce it since.

[2015-10-06 15:00] ronag commented on #41
It was running in Chrome. Not sure what V8 version is the one used currently.

[2015-10-06 15:14] ronag commented on #39
Ok, here is a guess:

When `client.emit('error', m[1]);` the callback could actually decide to close the bus which would set `inbound == null` thus in at line 447 we can get a null reference.

[2015-10-13 00:30] derekcollison commented on #39
Thanks, that is helpful.

[2015-11-10 04:37] asafyish opened #42 "Support 'name' option ?"
Hi,

I can see there is no support for 'name' parameter, it's not accepted when creating a new connection, and not sent to gnatsd.

Is there a plan to add it ?

[2015-11-10 04:54] derekcollison commented on #42
Good point, I will add it.

[2015-11-12 06:07] asafyish opened #43 "There is a missing unsubscribe after a request is finished"
I see that after using nats.request, the inbox subscription still exists, both on the server, and the client (nats.subs), probably a missing call to unsubscribe after processing the received message.

[2015-11-12 08:41] ronag commented on #43
See, https://github.com/nats-io/node-nats/issues/29

[2015-11-12 09:22] asafyish commented on #43
Hmm, I mean, the subscription still exists, even after I successfully received and processed a response. No errors involved.

[2015-11-12 09:59] ronag commented on #43
That's by design.

[2015-11-12 10:04] asafyish commented on #43
Yeah that can work.
Thanks !

[2015-11-12 10:04] #43 closed

[2015-11-16 14:38] ronag commented on #41
We've run into this one the server as well.

We've done the following change, https://github.com/BoffinsDev/node-nats/commit/57d08ec0a59628e34800ebedec7411de8b42c68b, not pretty but it does the job.

[2015-11-23 00:39] derekcollison commented on #41
I looked into how we might be able to balance the response latency when receiving a large number of requests. Calling flushPending() at the tail end of publish() kills throughput by an order of magnitude. But, I can put flushPending() into the flush() call itself. You could either call flush(), or tack on a callback to the publish().

[2015-11-26 21:15] ronag commented on #41
@derekcollison: Also there is the latency consideration on the consumer as well. The `flushPending` solves the issue for the producer but not on the consumer side.

[2015-11-27 01:26] derekcollison commented on #41
Help me understand. What latency on consumer side? Node.js is single threaded, and we react immediately to 'data' events and delivery messages appropriately. If you spend alot of time in those callbacks you will delay the messages behind them.

[2015-11-27 07:25] ronag commented on #41
[code]
Let's say that due to a slow machine each message takes 1ms to parse and execute a very simple callback and 512 messages fit in one 'data' callback from the socket.

[code]

So even though I want "TICK" to print roughly every 40ms it could be delayed for a long time since the nats parsing does not yield.

[2015-11-27 17:42] derekcollison commented on #41
So even if it was only one callback for the first message that takes a long time, you think we should yield after a set timeout and setup a processNextTick() for the remaining messages we have received?

[2015-11-27 17:54] ronag commented on #41
@derekcollison: I'm not sure I would go that far. If you want a low latency system sending big messages is a design fault.

There are several ways to go about it I would guess.

- Let the user decide, i.e. if the callback returns a thruthy value yield with process.nextTick
- Yield with process.nextTick after a certain timeout on message boundaries.
- Yield with process.nextTick after every message

[2015-11-28 04:19] derekcollison commented on #41
I think the second option makes the most sense when controlled by the user as an option to the system.

[2015-11-28 15:24] ronag commented on #41
:+1:

[2015-11-29 01:27] jmealo opened #44 "Connection string doesn't support username and password nats://user:password@host:port"
node-nats should support the same connection string as NATS. Currently, passing the username and password in the connection string is not supported.

[code]

[2015-11-29 01:40] jmealo commented on #44
Went to "fix" this and found ``url.parse()`` was being used and that I had a stupid typo :-). Please ignore.

Code looks good! :+1:

[2015-11-29 01:40] #44 closed

[2015-11-29 17:04] derekcollison commented on #41
I am almost completed with the TLS. Once done and working I will get this in. Agree could be a good feature for latency sensitive cases.

[2015-12-04 10:39] #42 closed

[2015-12-07 23:28] #38 closed

[2015-12-07 23:55] #41 closed

[2015-12-07 23:55] #40 closed

[2015-12-07 23:55] #39 closed

[2015-12-07 23:55] #36 closed

[2015-12-15 04:22] Ulexus opened #47 "Crash on publish with callback if connection dies"
Because `Client.pongs` is reset to `null` when a connection is closed, if the server dies or gets lost after a successful connection and you send a publish with an attached callback, the client will crash because it cannot push a callback onto `null`.

Example:
[code]

Let the client get a few pings then kill the server.  The client will then die with:
[code]

[2015-12-15 04:30] Ulexus commented on #47
There is also a _potential_ failure point at [line 629](https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L629), but this would only happen if the connection is lost and the `client.pongs` nullified between the while check and the cb shift.  Not very likely, but it should probably be wrapped, too.

[2015-12-15 05:38] Ulexus opened #49 "Use of `stream.isPaused()` extraneous and breaks Node 0.10.x compatibility"
The execution of `resume()` [implies](https://github.com/nodejs/node/blob/master/lib/_stream_readable.js#L700) the check to see if the stream is paused.  Thus, wrapping the `resume()` [here](https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L598) is unnecessary.

Moreover, using `isPaused()` breaks compatibility with Node v0.10.x which, while unarguably old, is required for my use case,

[2015-12-15 06:06] #47 closed

[2015-12-15 06:09] derekcollison commented on #49
Does 0.10.x understand resume?

[2015-12-15 12:58] Ulexus commented on #49
It does.

[2015-12-15 21:47] #49 closed

[2015-12-15 21:48] Ulexus commented on #49
TLS is broken in v0.10.x Node, as well.  Not worth adapting, I believe.

[2015-12-15 21:53] derekcollison commented on #49
Fair enough.

[2015-12-16 02:31] Ulexus opened #51 "Oddly affiliated callbacks for publish"
The present scheme of processing callbacks for the publish function is a bit strange.  It is roughly akin to:  "I have tried to send your message.  I don't know whether it was sent or not, but after I threw it away, I was able to ping the server and get a pong back."

I feel that a more appropriate use of the callback is:  "I have tried to send your message to the server.  The send [failed|succeed

[2015-12-16 02:35] derekcollison commented on #51
When the PONG is received back from the server, the message has been processed by the server.
So a callback associated with the publish will indicate that the message has been received by the server.

[2015-12-16 02:37] Ulexus commented on #51
Perhaps I am missing something, then.... it appears to me that, as a part of the flush function, you are sending a ping and waiting for _that_ pong.

[2015-12-16 02:57] Ulexus commented on #51
Here is where I'm talking about:
https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L829

The callback is simply added to the list of pong callbacks and a ping is immediately generated (via a call to flush().

[2015-12-16 06:49] derekcollison commented on #51
That is correct, but anything that has been buffered will be sent before the PING, and the server, after processing the messages and the PING will send a PONG.

[2015-12-16 13:22] Ulexus commented on #51
Correct; it proves that the queue has been cleared, but it does not say _anything_ about whether the message made it _to_ the queue.

Ref:  https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L542  (if the connection is closed, silently fail)

Ref:  https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L527 (no callback supplied for any sending errors)

Now, it is true that the _la

[2015-12-16 22:38] derekcollison commented on #51
I agree there is an issue with sending/publishing to a closed connection with a callback.

[2015-12-16 23:17] Ulexus commented on #51
Personally, I would prefer to buffer outbound messages if reconnect is enabled (up to a reasonable limit), but this is (in my opinion) a reasonable accommodation.  The sender gets an immediate failure notice.

[2015-12-16 23:56] derekcollison commented on #51
That is the current behavior, we buffer during a reconnect phase.

[2015-12-17 02:42] Ulexus commented on #51
Ah, I had somehow missed that.  I see that, now.... `client.pending`; thanks.

In that case, we just need to capture write errors and disconnected (without reconnect) states, and pass them back.

[2015-12-17 22:26] derekcollison commented on #51
Working on that now on the plane ride to the east coast. Should we do boolean for publish or error? Also, publish now throws some errors, if there is a callback provided should we not throw the error but provide it to the callback?

[2015-12-17 22:50] Ulexus commented on #51
The argument to the callback should be undefined if no error (as it is now) and an Error (or at least a string) on failure.

Well, we shouldn't _throw_ an error in any case, since you've got the EventEmitter with the 'error' target  (NodeJS will automatically convert it to an exception if it isn't handled).

I don't know that I have a strong opinion about whether to _also_ emit an error if a callb

[2015-12-18 20:28] #51 closed

[2015-12-18 20:48] #37 closed

[2016-01-08 00:48] derekcollison opened #56 "Potential failure to resend subscriptions"
References PR #55

[2016-01-08 19:01] jmealo opened #58 "Breaking change in authorization between 0.4.4 and 0.5.0"
In 0.4.4 this works fine:

[code]

In 0.5.0 it returns an ``Authorization Error``.

[2016-01-08 19:03] derekcollison commented on #58
How do you start the server? What is the config for the server? If you run the server with -DV flag what does it output when the node app tries to connect?

[2016-01-08 19:14] jmealo commented on #58
Thanks for the quick response, I use the following script:
[code]

My redacted configuration file:
[code]

Working connection:
[code]

Failed connection:
[code]

[2016-01-08 19:15] jmealo commented on #58
It seems as if the URI is no longer being parsed, I quickly reviewed the changes since 0.4.4 and I didn't see anything connection related besides TLS, but I may be mistaken.

[2016-01-08 19:37] derekcollison commented on #58
ok thanks, I will take a look. I need to do a new release for another edge bug, so will make sure to resolve this one as well.

[2016-01-08 19:40] jmealo commented on #58
@derekcollison Thank you for the quick response!

[2016-01-09 03:41] #58 closed

[2016-01-09 03:41] #56 closed

[2016-01-09 04:46] derekcollison opened #60 "Support binary buffers"
Per PR #57 suggestion.

[2016-01-09 05:38] #60 closed

[2016-01-20 19:11] jmealo opened #64 "Lack of visibility into connection handling and status"
After upgrading to Node 5.x (nats 0.5.4) from 4.x (nats 0.4.4) I'm no longer able to connect (I get a connection timed out). While troubleshooting that, I decided to add event listeners for all connection related events that I saw being emitted from the library. I noticed that only the error events seem to be emitted in a connection timed out scenario. This creates a blind spot when it comes to co

[2016-01-20 19:33] ronag opened #65 "Won't reconnect unless first connected"
This is an issue for us. We usually start up all our systems and then have to wait 5-10 minutes for the switches to startup. But when they start up our nats application won't reconnect, it has already failed.

This behaviour should probably be configurable...

[2016-01-20 19:45] derekcollison commented on #64
What was the underlying issue as to why you could not connect?

I will take a look.

[2016-01-20 19:52] derekcollison commented on #65
So you would want the application to continue to continue for some specified interval even if the first connection?

Would it not be better to just keep relaunching the application? Meaning fail fast, etc?

[2016-01-20 21:10] ronag commented on #65
Yes, in most cases. However, if the application is badly designed and has other services that would function even if the nats connection is failing it would be good...

In our specific case we have a quick fix application that provides 2 different services against 2 different nats servers...

[2016-01-20 21:20] ronag commented on #65
Another example would be an application that provides both a REST API and a NATS API. If the NATS connection fails the REST API should still work...

[2016-01-20 21:56] derekcollison commented on #65
Isn't it fairly straight forward application logic to setInterval() in trying to connect for the first time?

[2016-01-20 22:01] ronag commented on #65
You mean we should add the same logic that already exists in node-nats again?

[2016-01-20 22:06] derekcollison commented on #65
For the first connect, I don't believe that code exists in node-nats, but let me take a closer look.

[2016-01-21 01:03] jmealo commented on #64
@derekcollison It ended up being a connectivity issue (VPN problem). Once that was resolve I was able to connect with the latest version of Node and NATS.

[2016-01-21 01:19] derekcollison commented on #64
Does this address your concerns?

https://github.com/nats-io/node-nats/blob/waitOnConnect/test/connect.js#L62

[2016-01-21 01:22] jmealo commented on #64
@derekcollison that works for me, some people might find a 'connecting' event helpful, but I'm more interested in detecting failures/retries.

Thanks!

[2016-01-21 01:25] derekcollison commented on #64
Would that only be for the first connection for any server listed? Then other subsequent events would be reconnecting?

[2016-01-21 02:01] derekcollison commented on #65
This work for you?

https://github.com/nats-io/node-nats/blob/waitOnConnect/test/connect.js#L62

[2016-01-22 00:40] #65 closed

[2016-01-22 01:30] derekcollison commented on #65
You ok with 'reconnecting' for the event or do you think we put the effort and make it 'connecting'? Would that be only for the first one or for ever first connect per server?

[2016-01-22 10:18] ronag commented on #65
`reconnection` is good.

[2016-01-22 21:19] jmealo commented on #64
@derekcollison I would assume that in order to be "reconnecting" it implies that you've "connected" to the service. That being said, if you try server 1, then server 2, then you connect to server 3, server 1 and server 2 did not have "reconnecting" events.

It may be better to pass an object that contains something roughly equivilant to this:
[code]

[2016-01-23 16:38] derekcollison commented on #64
That might be a good idea. Let me think on it a bit. The timeout one could be tricky.

[2016-02-25 16:41] derekcollison commented on #22
FYI, working on nuid() version for Node.js. But did benchmark current implementation, which I agree is not too great, against cuid.

[code]

[2016-02-25 17:56] ronag commented on #22
@derekcollison: One faster way would be to have a pool of ids. Since you know when the inbox is no longer used old ids can be re-used.

[2016-02-25 18:21] derekcollison commented on #22
I think nuid approach will work well and avoid collisions with other clients vs reuse pool.

[2016-02-25 18:25] ronag commented on #22
@derekcollison: :+1:

[2016-03-13 12:24] xogeny opened #68 "TypeScript Definitions"
The latest versions of TypeScript can pull typescript definitions from an NPM repository.  This helps
ensure that the TypeScript definitions are always in sync with what is published in node.  Furthermore,
it makes it much easier for TypeScript users to use the node module because all the have to do is
'npm install nats' and they automatically get TypeScript definitions.  With Angular2's adoption

[2016-03-13 15:24] derekcollison commented on #68
Feel free to send a PR, happy to take a look.

[2016-03-23 03:36] #22 closed

[2016-03-23 18:22] derekcollison commented on #64
@jmealo Would this object only be on reconnecting, or on connecting as well?

[2016-03-24 01:55] derekcollison commented on #64
@jmealo FYI, you have all of this information already if you look at the connection.

Here is a util.inspect of the connection (abbreviated) from a test I ran..

[code]

[2016-03-24 01:56] derekcollison commented on #64
So we can open it back up, but I think you have the information that you need already in the callback.

[2016-03-24 01:56] #64 closed

[2016-03-28 22:44] joeblew99 opened #70 "Golang based server that acts as a nats client"
I need various browser clients to participate in a pub / sub style topology.
I am a golang programmer and so was wondering if there is a project to expose nats pub / sub to browser clients over any of the usual suspects such as websickets, long poll, SSE ?

The reason I prefer not to go with a nodejs approach is many, but mostly because I need to run on arm v6, v7 and v8 on Linux and windows.

It'

[2016-03-31 20:55] mcqueary commented on #70
@joeblew99 So, bottom line, you're looking for websocket support out to the browser?

[2016-03-31 21:11] mcqueary commented on #70
Closing this in favor of nats-io/roadmap#4.

[2016-03-31 21:11] #70 closed

[2016-04-19 11:17] asafyish opened #71 "Subscribe is sent multiple time"
Hi,

While debugging a few issues, I found out that SUB is sent more then once since version 0.6.0:
[code]

[code]

[2016-04-19 14:21] derekcollison commented on #71
Doing a quick run of the sample node-sub under the /examples directory, seems like only one SUB is being sent.

[code]

[code]

Could you provide me with a simple example that shows the double SUB? Happy to take a look.

[2016-04-19 14:25] derekcollison commented on #71
Apologies, I just noticed that I was running older version, and when I installed 0.6.0 I verified your behavior. Thanks, will fix right away.

[2016-04-19 14:30] asafyish commented on #71
Could this kind of double subscription cause the nats server to lose
messages? That's what we experienced when upgrading to 0.6.0

On Tue, Apr 19, 2016, 17:25 Derek Collison <notifications@github.com> wrote:

[2016-04-19 14:36] derekcollison commented on #71
Not that I am aware, the server ignores essentially the second request since it is the same SID.

[2016-04-19 14:36] derekcollison commented on #71
You can monitor the server for slow consumers via the monitoring port, or have an err callback in your client which will let you know if the server dropped messages because the client was too slow.

[2016-04-20 01:16] #71 closed

[2016-04-25 17:14] jfathman opened #74 "Wildcard subscription does not capture reply messages"
This wildcard subcription code:
[code]
displays the 'request' message from a nats.request(), but not the 'reply' message.

Is that expected?  Is there a way to see both legs of a NATS Request/Reply message transaction from a wildcard subscribe?  I hoped to use this as a simple message debug monitor, but need to also see the reply leg to observe all the message traffic.

Thanks for NATS.  It's grea

[2016-04-25 17:16] kozlovic commented on #74
Try subscribing to `>` instead. Replies, unless you create your own, is an inbox, which has more than one token. The wildcard `*` is for a single token.

[2016-04-25 17:17] jfathman commented on #74
Thanks @kozlovic, I will try that tonight.  Appreciate your quick response.

[2016-04-25 22:01] jfathman commented on #74
Confirming for future readers that `>` works great, can trivially monitor request and reply messages.

[2016-04-25 22:01] #74 closed

[2016-05-09 11:00] roytan883 opened #75 "subscribe handler exception lead nats client work strange"
nats.subscribe('foo.bar.*', function(msg, reply, subject) {
  console.log('Msg received on [' + subject + '] : ' + msg);
  fnABC()
//if exception happened in fnABC() , the nats client will behave strange
//the msg will be random string
//or the subscribe can't receive any furture incoming msg
});

[2016-05-09 14:55] derekcollison commented on #75
Agree, but for the callbacks that work fine, wrapping with a try/catch is expensive and hurts performance. If its important to you, simply curry a function with try/catch or place them in the handler callback directly.

[2016-05-09 14:55] #75 closed

[2016-05-11 08:15] 1N50MN14 opened #76 "Not an issue, just thumbs up!"
@derekcollison Thanks for making nats available, absolutely love how you kept it simple! I put together a fully functioning pubsub into my containers, set up a survey for health checks, a simple Dockerfile for dynamic configuration of new cluster nodes - nats.io > docs > implementation in under 90 minutes this bad boy just just *works*!

[2016-05-11 08:15] 1N50MN14 commented on #76
closing

[2016-05-11 08:15] #76 closed

[2016-05-11 14:24] derekcollison commented on #76
Thanks..

[2016-05-16 13:56] tutman96 commented on #68
I have created pull request #77 to address this issue. Please let me know if I did this process correctly.

[2016-05-23 18:11] 1N50MN14 opened #78 "Adding of new server to client"
I understand that automatic syncing of clients with servers is planned, in the meantime, is there anything that prevents me from "manually" adding new servers myself once a client have been constructed? I see `servers` is an exposed property, the client constructor loops through `servers` opts and pushes them to servers here https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L231

`Serve

[2016-05-23 18:40] derekcollison commented on #78
Feel free to submit a PR to expose Server such that you can do this. I would also add an entry point to add a new Server instead of pushing directly. This could just take a URI so then you would not have to expose Server.

[2016-05-23 18:48] 1N50MN14 commented on #78
Yup makes sense, àddServer(uri)` sounds good?

[2016-05-23 19:11] derekcollison commented on #78
I think so.

[2016-05-23 19:15] 1N50MN14 commented on #78
Ok, then submitting a PR any point in adding a test for that?

[2016-05-23 19:16] 1N50MN14 commented on #78
n"m I can use nc.close() to test

[2016-05-23 19:27] derekcollison commented on #78
Yes please always submit tests for any new functionality or bug fix, just good hygiene.

[2016-05-23 20:13] 1N50MN14 commented on #78
PR submitted

[2016-05-24 04:22] derekcollison commented on #78
We need to add some more logic since we normally randomize the array. So we should test that is the case when you add, so we can push but then need to randomize unless there is a flag to suppress.

[2016-05-25 16:54] jfathman opened #80 "Option to discard real-time data message if not currently connected to gnatsd"
I am running gnatsd 0.8.0 (ARM version) and the nats 0.6.2 client for Node.js on Raspberry Pi 3.  It works great.

My application publishes IoT sensor data messages that are only meaningful in real time.  But if gnatsd is not running for an interval, the client queues published messages and then delivers them in a burst when it is next able to connect to gnatsd.  I need to prevent that burst deliv

[2016-05-25 23:46] derekcollison commented on #80
Thanks for your note. I would suggest suppressing reconnect, and then placing a disconnected handler on the connection and re-establishing the connection yourself. This would prevent messages from being buffered while disconnected I believe.

[code]

[2016-05-26 12:07] 1N50MN14 commented on #78
Closed in #79

[2016-05-26 12:07] #78 closed

[2016-05-26 19:15] 1N50MN14 commented on #78
Would it be possible for you to bump version and publish to npm when you got some spare time?

[2016-05-26 19:52] derekcollison commented on #78
Yes, I may have a few more things to land first, that ok timing wise or would you prefer earlier?

[2016-05-26 19:55] 1N50MN14 commented on #78
No worries for my part it can wait 1 - 1.5 weeks

[2016-05-26 21:42] jfathman commented on #80
Thanks @derekcollison, I hope to try that soon.  May be after the holiday weekend.

[2016-05-26 21:44] derekcollison commented on #80
Sounds good. Keep us posted.

[2016-05-29 16:09] jfathman commented on #80
I tried suppressing reconnect, @derekcollison, and it works, but I lose the useful built-in NATS reconnect logic.  I could reimplement reconnect at the application level, but took a different approach.

This code creates a wrapper function that only publishes the message if the NATS connection is currently open.  NATS events are used to update connection state without resorting to a global variabl

[2016-05-29 19:16] derekcollison commented on #80
Do you want the publish to fail or would you prefer to be able to configure how long nats should hold onto queued messages?

[2016-05-29 22:04] jfathman commented on #80
Specifying retention aging could be very useful.  The last (few) sensor readings still have value, and as you intimate, the value is more about time (age) than count (depth).  One second resolution or less would be ideal (depends on the application and sensor publishing rate), and retention age zero could indicate retain none.  Some way to know if and how many messages were discarded could be usef

[2016-06-05 12:41] 1N50MN14 opened #81 "websocket support"
It would be great if we could get nats to work over websockets (imho), in theory we just need to shim `net`, is it ok if I give it a go and send a PR?

[2016-06-05 12:43] 1N50MN14 commented on #81
will also need a websocket <> tcp proxy, I can write that as a separate module

[2016-06-05 13:08] ronag commented on #81
https://github.com/nats-io/node-nats/pull/21/files

[2016-06-05 13:30] 1N50MN14 commented on #81
oh interesting your PR looks spot on @ronag you even added the `browser` tag in `package.json` shame it didn't make it into the repo. Are you using that in production and if so any unexpected behaviours you noticed? tack ;)

[2016-06-05 14:53] ronag commented on #81
Det funkar fint. Vi använder det i produktion.

[2016-06-05 17:38] 1N50MN14 commented on #81
supert, tack for det. Closing issue for now.

[2016-06-05 17:38] 1N50MN14 commented on #81
closing

[2016-06-05 17:38] #81 closed

[2016-06-10 15:39] jjp91 commented on #60
Hello,

I tested the buffer, it goes well and fast.

But the subscriber receive a string.

Could it be possible to get a Buffer type variable?

Thanks by advance.

[2016-06-10 15:41] derekcollison commented on #60
In general you will receive a buffer in the subscriber. Although Node could hand you a string as well from the underlying socket.

If you post some code and let me know what you are specifically looking for we can try to help.

[2016-06-10 15:43] tutman96 commented on #60
I can attest to this as well. The subscription returns a string always. I just pass it through a
`new Buffer(str, 'binary')` to get it to a binary, but this is definitely less efficient.

[2016-06-10 15:50] jjp91 commented on #60
Thanks to answer so quickly.

A simple
nats.publish ( sub , new Buffer(30) )

receive
nats.subscribe(sub, function(msg) {
  if ( typeof msg == 'string' )
    console.log( 'It is a string')
}

@tutman96, thk you for the trick.

[2016-06-10 17:08] derekcollison commented on #60
Can you send some code snippets that demonstrates that it is always a string? Again, Node.js generally is allowed to select the most performant method of delivering data from a socket. Under load however I generally see it delivering Buffers, not strings. If you only send one small message it may deliver that as a string. You can use 'encoding' option to possibly effect this as needed.

[2016-06-10 18:13] jjp91 commented on #60
Ok, let's do it like that.

I am not sure to understand what you mean by "use 'encoding' option". Do you mean, as @tutman96 said?

[2016-06-10 18:17] tutman96 commented on #60
There is an "encoding" option in the creation of the connection. If you set it to "binary", the results from the nats subscription won't be parsed as "utf8" by default. The data is still returned as a string. Essentially the nats library does a
[code]
You can see this at: https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L792
I changing this line to return the buffer raw if the encoding

[2016-06-11 13:07] jjp91 commented on #60
@tutman96
Thank you very much for the detailled answer.

With all the respect to the author, this makes me think of a suggestion, if one can forgive me.

I think we can let this line like this but add another one, just after, which would be
`client.payload.mbuf = mbuf ;`

And at line 873 ( Client.prototype.processMsg) , the original line
`sub.callback(msg, this.payload.reply, this.payload.subj, th

[2016-06-16 14:52] tutman96 commented on #68
Pull request #77 fixes this issue. It is available in v0.6.4. This can be closed now.

[2016-06-16 15:24] derekcollison commented on #68
Thanks.

[2016-06-16 15:24] #68 closed

[2016-06-21 21:00] derekcollison commented on #60
Would you be willing to submit a PR and make sure tests all pass?

[2016-06-21 22:14] jjp91 commented on #60
Sorry, but i don't know how to do that, even submitting a PR ( what is it? Some kind of change request?).

And about tests, i can test it, if you need, but don't know how to run all of them.

[2016-07-26 19:29] sfrooster opened #84 "Support nats streaming"
Support nats streaming in the nats node client.

[2016-08-11 16:25] aricart commented on #84
Checkout https://github.com/nats-io/node-nats-streaming!

[2016-08-11 16:25] #84 closed

[2016-08-11 18:20] riaan53 commented on #84
Awesome thanks!

[2016-09-04 18:15] shaneiseminger opened #89 "Change error vars (e.g. BAD_SUBJECT_ERR) to strings"
Working out an issue implementing the node-nats-streaming library and I was initially confused by the stack trace until I realized that it's because the `Error` objects are being instantiated as soon as the library was required, causing the stack trace to show the trace to the point the objects are instantiated, not the point that they're thrown.

Obvious suggestion is to set the error vars to str

[2016-09-05 15:10] aricart commented on #89
Hi there thanks for the report. This issue as you have found above, affects both node-nats and node-nats-streaming. The issue should be fairly easy to fix, since we can easily identify all the throw points. Let me do a fix.

Thanks for the report.

[2016-09-05 17:05] shaneiseminger commented on #89
Thanks!

[2016-09-06 14:53] aricart commented on #89
Fix for node-nats-streaming is ed6bdc7ea965eeeaa3b693451c9ca8043c0d2d4b

[2016-09-06 14:53] #89 closed

[2016-09-13 07:56] mkozjak opened #92 "API documentation"
We should have proper library API documentation showing in detail how we can use all the provided methods.

Currently all we can do is look into the source code. I haven't found anything on the official NATS website indicating all the clients should have similar API or something, so I cannot assume anything.

In example: I just realized there's a 'json' field that can be passed to 'connect' via so

[2016-09-13 20:53] aricart commented on #92
The documentation in the nats.js library is commented. The index.d.ts (intended for typings but also works great for IDE integration) has clear and concise docs on all the public API methods, options and types. The [README.md](https://github.com/nats-io/node-nats) also shows sample code for all the public API.

Was there some other API calls that you were missing or wanted more clarity on?

[2016-09-13 20:54] #92 closed

[2016-10-01 10:11] GlurG opened #93 "Setting the option json = true changes the method signature for publish"
Setting the json option to true makes the `msg` argument for the `publish` method non-optional.

`const nats = require("nats").connect({ "url": "...", "json": true });`

Invoking `nats.request("topic", callback)` will now cause an error because of the type check of `msg` [https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L990](here). The `msg` argument gets defaulted to `EMPTY` (which i

[2016-10-03 16:09] mkozjak commented on #93
For some reason, the link from above does not work. Here's a working one: https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L990.

Btw, I'm having the same complaint.

[2016-10-03 18:03] aricart commented on #93
@GlurG @mkozjak the request seems reasonable. However there are few subtle considerations. The node API is provides support for:

- Buffer
- string
- object (JSON)

The main issue is how are the types interpreted, and more importantly what happens when a non-node client receives the message.

By simply looking at JSON http://www.json.org from the javascript side, the following serializations are a

[2016-10-03 19:54] aricart commented on #93
Did a bit more testing with the encoding. JSON.parse() was unhappy with some values that should have worked correctly. It had to do with the the quoting. IE. `JSON.parse('""')` is happy for node, while `JSON.parse("''")` is not.

[2016-10-25 21:48] sfrooster opened #94 "Inconsistency b/t dontRandomize and noRandomize"
dontRandomize is shown in the documentation, but only noRandomize is supported in the index.d.ts.

Both, however, seem to work.

[2016-10-25 21:50] aricart commented on #94
I'll take a look. The javascript client/nats in general support some 'aliases' in the options. This may be one of those cases.

[2016-11-04 09:35] gaozhidf opened #96 "token cannot work"
hi,

i try to use token auth, but it seems failed
[code]

and then i try it as url param, but it seems it just set `mytoken` into username
[code]

[2016-11-04 13:57] aricart commented on #96
Found the issue. The version of nats from npm registry doesn't support token authentication. This was added to master on 7/19/16 but was not pushed to npm. Let me try and refresh that.

[2016-11-04 14:14] aricart commented on #96
0.6.8 just pushed to npm fixes this issue.

[2016-11-04 14:14] #96 closed

[2016-11-04 15:09] gaozhidf commented on #96
thanks a lot

[2016-11-04 15:09] gaozhidf commented on #96
thanks a lot

[2016-11-04 15:10] gaozhidf commented on #96
thanks a lot

[2016-11-04 15:10] aricart commented on #96
👍

[2016-11-19 23:29] sfrooster opened #97 "request doesn't support rpcTimeOut"
Unlike csharp and java, a "request/reply" action doesn't seem to allow for a timeout after which the request is auto-failed.

[2016-11-21 14:19] aricart commented on #97
Sure it does! The timeout is not specified with the request. Instead there's a timeout function that you can call and associate with the subscriber id (returned by subscribe and request). Here's an example.

[code]

[2016-11-21 14:19] #97 closed

[2016-11-28 21:01] GlurG opened #102 "Handling requests without a reply"
I'm currently building a web application with a microservice architecture using Nats as the message broker. The service which is responsible for fetching data from database subscribes to a number of topics (e.g `fetch-username-by-email`, `update-user`, etc) so that other services can query the database. Now, if the database service would crash, the other services would "hang" if they tried to comm

[2016-12-03 01:31] mcqueary opened #103 "Support Servers and DiscoveredServers APIs"
See https://github.com/nats-io/go-nats/issues/214

[2016-12-03 16:33] WoLfulus opened #104 "Errors should be instance of Error, not string"
This gets really hard to handle exceptions without proper error codes, for example, I'd like to shutdown the application if there's a ETIMEDOUT error, and keep running on other codes.

Check if the error string contains "ETIMEDOUT" isn't an option.

[2016-12-03 17:32] aricart commented on #104
What error are you getting exactly? This is likely an error coming from the socket. Where are you getting it. Can you share the stack trace?

[2016-12-03 17:46] WoLfulus commented on #104
I mean, the lib itself emits errors as strings, not Error instances.

https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L310

I can't rely on analysing string contents to check what errors are happening.

Example:

[code]

[2016-12-03 17:49] aricart commented on #104
Let me see what  I can do. This change will create a backwards compatible issues for everyone else if they are relying on the string.

[2016-12-03 19:20] aricart commented on #104
@WoLfulus go ahead a see if the PR fits for you. In the case of the connection issue, instead of wrapping the error or adding additional properties, I am just bubbling the error up without any kind of augmentation. All errors generated by the library now have constants as well to aid in testing the errors. If there are any other issues, please feel free to reopen or create another issue.  PR will

[2016-12-03 19:20] #104 closed

[2016-12-03 19:30] WoLfulus commented on #104
Where does the `code` of the error goes? Error class receives only one parameter on the constructor. The second one is lost.

[2016-12-03 20:34] aricart commented on #102
NATS doesn't provide any delivery information or guarantees. You can try to use request reply with a timeout to notify the requestor that a reply was not received, but usually this is not going to be sufficient (the subscriber could have performed the task, and just died before sending the response). In node-nats, the timeout is implemented by creating a subscription or doing a request reply opera

[2016-12-03 20:34] #102 closed

[2016-12-03 20:37] aricart commented on #104
This is what I just did the source for Error gave me the impression that the error id was exposed. I implemented exactly what you propose. The NatsError also provides a `code`, `chainedError` so you can compare codes. If there's a connection error you can further inspect the `chainedError` for the reason. Thanks for the catch.

[2016-12-03 20:46] WoLfulus commented on #104
Perfect! Thanks :)

[2016-12-22 14:21] ericholiveira opened #107 "Is it possible to detect if any subscriber received my message?"
After publishing a message i wanted to know if any subscriber received it, is it possible?

[2016-12-22 15:24] aricart commented on #107
@ericholiveira the only way for you to know if someone got it would be to send the message as a request/reply.
If you needed to know that at least one client got the message, you would:

[code]

The clients for the request are normal subscribers. They simply use the replyTo inbox subject to send the response:
[code]

Hope it helps.

[2016-12-22 15:24] #107 closed

[2017-01-05 23:24] StarpTech opened #108 "Send Buffer but receive string"
Hi, when I send a buffer the payload is converted to a string. https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L851 This is definitly wrong. Encoding should be the job of the developer or be configurable by an additional option. The current solution stop me to use msgpack. I could create a PR.

[2017-01-05 23:27] derekcollison commented on #108
https://github.com/nats-io/node-nats/blob/master/test/binary.js#L25

[2017-01-05 23:28] aricart commented on #108
You need to set the `encoding` on the client. Then you'll get exactly what you need.

[2017-01-06 00:11] StarpTech commented on #108
Setting stream encoding and replace these lines would fix this issue:

[code]

[2017-01-06 00:21] aricart commented on #108
This basically keeps payload.msg as Buffer. But there are a couple of issues:

- What happens to clients in the wild that currently are getting string?
- It also probably breaks https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L930

I understand that we need to normalize this. But in node-nats-streaming we are sending and receiving protobufs. We handled it in the client by converting t

[2017-01-06 00:48] StarpTech commented on #108
We could release a major release 1.0.0  and normalize all the places.

[2017-01-06 01:15] tutman96 commented on #108
Could add an option 'preserveBuffers' that ignores the encoding and returns raw buffers. That way it is 100% compatible yet enableable for new clients.

[2017-01-06 01:19] StarpTech commented on #108
Sounds good but as soon as the next major release is released I would set it as default. Node-nats is the native driver and shouldnt contain such custom encoding.

[2017-01-06 01:22] StarpTech commented on #108
WDYT? @aricart

[2017-01-06 16:41] StarpTech opened #109 "Windows - Can't run test script + lots of failing mocha tests"
**My environment:**
Node 6.9.2
Windows 10
gnatsd-v0.9.4-windows-amd64

Im trying to run the test but Im facing with many issues

1. Seems that the command is not optimitzed for windows

[code]

2. I skip that above and try `mocha --timeout 10000` and I have 25 failing tests.

[code]

Errors:

[code]

[2017-01-06 23:29] aricart commented on #109
@StarpTech Thanks for the report. @ColinSullivan1 is going to help me out with this on windows as I don't have a windows setup. Thanks for the heads up.

[2017-01-07 13:49] StarpTech commented on #108
As long as the test don't run on windows I can't work on it https://github.com/nats-io/node-nats/issues/109

[2017-01-09 19:18] StarpTech commented on #109
Anyone working on it?

[2017-01-09 19:27] ColinSullivan1 commented on #109
@StarpTech , yes, we are.

[2017-01-09 19:51] StarpTech commented on #109
@ColinSullivan1 cool if you need any help dont hesitate to ask me. After this I can start with issue https://github.com/nats-io/node-nats/issues/108

[2017-01-09 20:22] ColinSullivan1 commented on #109
@StarpTech Thanks, appreciate the offer, and we may take you up on that.  My initial take here is there are two problems - first, `mkdir -p reports/` is not friendly to windows - we may just suggest different instructions for running the tests on windows (likely `mocha` as you have done).  The second issue is the failing tests.  I'm digging into those now.

[2017-01-09 20:41] StarpTech commented on #109
@ColinSullivan1 you can use https://github.com/substack/node-mkdirp it common to use this for cross platform support.

[2017-01-09 22:13] StarpTech commented on #109
E.g

[code]

[2017-01-10 01:00] ColinSullivan1 commented on #109
@StarpTech Much appreciated!  We'll give that a shot.

Please don't let this block #108 - For testing your PR for #108, feel free to go ahead and write a test, and so long as that individual test passes for you under `mocha`, you should be good to go.  The basic tests are passing in your environment, and Travis CI will catch any bugs that would be masked by the test failures here.  Beyond the prob

[2017-01-11 10:19] StarpTech commented on #108
PR was created https://github.com/nats-io/node-nats/pull/110

[2017-01-11 19:40] aricart commented on #108
Fixed by #111

[2017-01-11 19:40] #108 closed

[2017-01-11 19:41] aricart commented on #108
Also this is now available using npm install (0.7.2)

[2017-01-11 20:19] StarpTech commented on #108
Cool, thanks!

[2017-01-13 22:47] StarpTech opened #112 "Memory leak"
Hi,

in file `pub_perf.js` replace this line

[code]

after this my node processes will rise to ~1,028.8MB and freezes.

Node: v6.9.2
Windows

[2017-01-17 18:46] StarpTech commented on #112
Anyone? :)

[2017-01-17 19:02] kozlovic commented on #112
@StarpTech Alberto is on vacation so I will probably make a fool of myself since I don't know much about node.js, but it looks like you provide a callback function to the publish call, which means that the library will send a PING and when getting a PONG from the server, invokes this callback.
My understanding of node.js is that it is single threaded, and I am just wondering if you are not causing

[2017-01-17 20:31] derekcollison commented on #112
I will try to take a look.

[2017-01-17 23:33] derekcollison commented on #112
What is the code trying to accomplish? And can you send me the complete file as an attachment?

[2017-01-18 18:45] StarpTech commented on #112
@derekcollison this happens during a simple benchmark I wanted to bench publishing with a callback.

https://gist.github.com/StarpTech/cd649380f5aebc4f9410b41fb04b2de8

While doing this observe the process manager.

[2017-01-18 18:55] StarpTech commented on #112
I found the memory leak its in the `flush` method. `this.pongs` is the villain.

After `loop=10`
[code]

[2017-01-18 19:04] kozlovic commented on #112
@StarpTech Sorry, but if you look at my previous comment, I think you are proving my point. You are setting a callback to be invoked after the message and a PING is sent to server, which server sends a PONG back. But the test program is such that the processing of inbound can never happen, so all the PONGs and therefore callbacks accumulate.
The Node event loop has no chance to process inbound dat

[2017-01-18 19:06] StarpTech commented on #112
@kozlovic thanks make sense but it still an issue and how we can solve it?

[2017-01-18 19:11] kozlovic commented on #112
It is not an issue of nats-node, it is the way Node.js works.

There is a single event loop to which you provide data to be written and callbacks to be invoked when read events occur.

If you try to send as much data as possible without letting the event loop call you back with read events, all reads will be delayed.

As an application writer, you would need to pace your sends to give a chance to

[2017-01-18 19:12] kozlovic commented on #112
And pacing does not make sense in a pub benchmark test ;-) so providing a callback which by the way results in a round-trip message with the server, is not a good idea in this context.

[2017-01-18 19:12] derekcollison commented on #112
I commented on the code snippet you sent. Depending on what you are trying to do..

1. Just use 1 flush at the end, that guarantees all messages have been received and processed.
2. Have the for loop bound to a maximum number it can send, and flush after that and use a timer to kick off the next batch.

What are you trying to optimize for?

[2017-01-18 19:24] StarpTech commented on #112
At first I just use the Api. You can provide a callback with the `publish` method.
I understand why it fails but this looks like a bad implementation and this can't be a restriction in NodeJs.
NodeJs is single thread but it's an event loop.

Even this code fails:

[code]

[2017-01-18 19:25] StarpTech commented on #112
NodeJs ist faster in increasing the heap as nats can flushing.

[2017-01-18 19:42] derekcollison commented on #112
Again you are starving the event loop here, and you are essentially doing two flushes. One is via the attached closure function, the other the direct call.

[2017-01-18 19:42] StarpTech commented on #112
Can you give me an example which works?

[2017-01-18 19:44] derekcollison commented on #112
What are you trying to optimize for? What is it that you are trying to achieve?

[2017-01-18 19:54] StarpTech commented on #112
I have no use case I just faced with this issue by passing a callback. After I understand the limitation its fine but I think this can be avoided when the driver will be implemented async by design like https://github.com/postwait/node-amqp

It is uncommon to use the callback to check if my message was successfully proceed by NATS? When no you can imagine a IOT device which send lot of messages ho

[2017-01-18 20:25] StarpTech commented on #112
Just as an example this driver has a really nice implementation it has a socket oriented api.
https://github.com/squaremo/rabbit.js

Very worth to read
https://github.com/substack/stream-handbook

[2017-01-19 11:04] StarpTech commented on #112
@derekcollison @aricart  interesting in rewrite the driver as a socket oriented api like this [article](https://nodesource.com/blog/understanding-object-streams#whereareobjectstreamsuseful) described ?

[2017-01-19 18:24] derekcollison commented on #112
Probably not at this time. The node client is one of the most popular and works on many different versions of Node.js.

[2017-01-19 19:15] StarpTech commented on #112
@derekcollison could you answer my question?

[2017-01-19 19:39] derekcollison commented on #112
This is not a Node.js issue or a NATS issue per se, its a generalized messaging pattern. You should understand if the publisher cares about whether the message was processed or not. I have been doing messaging systems now for almost 25yrs, so I may have a different opinion than most. If you care, do a request/response pattern with a timeout, if you don't care, then really don't care.

[2017-01-19 19:48] StarpTech commented on #112
I trust in your experience and expertise this is no topic to discuss I don't understand the current behaviour.  Exposing an interface which can easily run in a memory leak should be maintained by the driver. This would also implicit that all other NATS driver behave exactly the same and will run into the same issue?  Could you explain me the pattern?  Thanks.

[2017-01-19 19:52] derekcollison commented on #112
The pattern is normal, but if you want a response you need to have platforms like Node.js that are (essentially) single threaded, return to the event loop. That is not specific to NATS.

[2017-01-22 02:10] StarpTech commented on #112
Hi @derekcollison @kozlovic @aricart  I investigate some time to analyze how the driver is implemented. If you publish something the whole event loop is blocked https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L766 no matters whether you passed a callback or not. IO must be implemented async. You can check it easily if you log something after the for loop in a benchmark test file or if

[2017-01-22 02:12] StarpTech opened #113 "Event loop blocked"
Hi, I investigate some time to analyze how the driver is implemented. If you publish something the whole event loop is blocked https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L766 no matters whether you passed a callback or not. IO should be implemented async. You can check it easily if you log something after the for loop in a benchmark test file or you can also check it with https:/

[2017-01-22 11:59] StarpTech commented on #113
Issue can be closed. I misunderstood some concepts.

[2017-01-22 11:59] #113 closed

[2017-01-22 12:01] StarpTech commented on #112
Hi @derekcollison I got the point now. Thank you for your patience.

[2017-01-22 12:01] #112 closed

[2017-01-23 06:10] derekcollison commented on #112
No problem..

[2017-01-23 17:18] ColinSullivan1 commented on #109
@StarpTech , Just giving you an update - @aricart  and I discussed this issue.  We realize this is an issue, but believe that the problems lie in the tests themselves being run in a windows environment, rather than the node client itself.  **We have plans to address this**, but in the meantime, are confident Travis CI will thoroughly test the node client.  We'll leave this issue open until we come

[2017-01-23 17:34] StarpTech commented on #109
@ColinSullivan I would agree when it works on a Windows CI but with this decision you ignore windows users. I created a nats project on windows and my test suite passed. It needs just more investigation. Thanks.

[2017-01-23 17:51] ColinSullivan1 commented on #109
@StarpTech , I appreciate your concern!  ...like I said, we do have plans to address this - we aren't ignoring windows users.  It had been a number of days since the issue was updated and I was just reiterating that we do not feel this issue should block contributions until it's been resolved.  This is certainly on our list of things to fix.

[2017-01-23 17:59] StarpTech commented on #109
@ColinSullivan1 sounds good but one advise I wouldn't use this driver when it breaks on my machine. I can estimate this issue but lots of people dont. I will have a look at this perhaps I can find the issues.

[2017-01-27 16:35] xsellier opened #116 "Feature: Add data compression"
Since we send everything in clear text we use a large network bandwidth on AWS.

By using zlib and base64 encoding, we should be able to compress/decompress easily (http://devdocs.io/node~6_lts/zlib).

A better alternative would be [msgpack5](https://www.npmjs.com/package/msgpack5)

[2017-01-27 17:41] aricart commented on #116
This also means that all NATS client implementations must support compression. Given that NATS messages can simply be considered as a bag of bytes, it is easy for your applications to compress/decompress as necessary (simply compress before publishing/decompress on receiving a message).

[2017-01-27 17:53] xsellier commented on #116
I get your point. I have not thought of other clients.

We will implement it on our application side.

[2017-01-27 17:53] #116 closed

[2017-01-27 17:56] xsellier commented on #116
List of available implementation of [msgpack5 for different languages](http://msgpack.org/index.html)

[2017-02-02 00:59] StarpTech opened #118 "Request/Response Performance"
Hi, I think there is much room for improvements. Could we use this ticket to talk about performance improvemets in general?

[code]

**Request-responses/sec**: 12348 - 12583
**Payload**: 60 Bytes

Testcase - https://gist.github.com/StarpTech/a8032cb07ff17da691788bfda3df75af

[2017-02-02 02:00] derekcollison commented on #118
Sure, feel free. But just so we are on the same page, we are sending a request, moving it over TCP to the server, processing it and sending it out, then the receiver sends a response, again over TCP and back through the server and returning to the requestor in 39 microseconds, not milliseconds. And remember, even with Node.js, you can parallelize both the request and the response so that they are

[2017-02-02 02:11] StarpTech commented on #118
@derekcollison i'm aware of that and I won't look for performance issues on gnats :)

[2017-02-02 02:27] derekcollison commented on #118
Point was even if you took Node.js and took out NATS and send a bunch of bytes over a socket like this, would you significantly beat 39 microseconds?

Requestor->Server->Responder->Server->Requestor

[2017-02-02 02:44] StarpTech commented on #118
No its fast but I saw some rabbitmq rpc benchmarks which performs ~5000req/sec and I just thought nats can much more. I want to use this ticket to ask some question about the implementation.

[2017-02-02 02:46] derekcollison commented on #118
I am sure we could do more if the responder was not same process.

But we are still at 2.5x.

[2017-02-03 23:24] #118 closed

[2017-02-13 13:27] ronag opened #119 "subject valid chars?"
The documentation says that subjects should only contain alphanumeric chars. However, I would like to at least be able to base32 encode my subjects, i.e. "/" and "+" as well. Would that work?

[2017-02-13 18:48] ronag commented on #119
@aricart: here, http://nats.io/documentation/internals/nats-protocol/

So base64 should work as well?

[2017-02-14 09:55] ronag opened #120 "Does a publisher receive its own message?"
Can't find this documented anywhere. But does a client that publishes a message also receive it? Or does the server make sure that does not happen?

[2017-02-14 12:03] #120 closed

[2017-02-14 15:28] MichaelErmer commented on #102
The GO implementation does automatically unsubscribe after 1 response and has a timeout options https://github.com/nats-io/go-nats/blob/master/nats.go#L1848

I think it would be a good solution to add a default value of 1 to the max options and add the option to set a timeout at the request time.

In my case I took the subscriptions to stack up to multiple million before the server itself crashed,

[2017-02-14 15:37] MichaelErmer opened #121 "Add Timeout and default max=1 to requests"
The GO implementation has a timeout option and sets max to 1 by default: https://github.com/nats-io/go-nats/blob/master/nats.go#L1848

We are using nats very heavily lately and had to find out about max:1 the hard way, after multiple server crashes at about ~3M subscriptions.

I think its unintuitive that there is no default max value, it would also be good to have a timeout option like GO to get

[2017-02-14 16:15] aricart commented on #121
In node the current pattern is this:

[code]

[2017-02-17 19:00] aricart opened #126 "unsubscribe can leave timeouts hanging"
Unsubscribe doesn't look if a subscription has an associated timeout. This means that is possible for a client that specified a timeout on a subscription to call unsubscribe, but the timeout will get to fire as it is never cancelled when the subscription is removed from the subscription list.

[2017-02-17 21:11] #121 closed

[2017-02-17 21:44] #126 closed

[2017-02-25 21:15] StarpTech opened #129 "Implement Streams2 Interface"
Hi,
the driver is good and it works but in the point of view of the implementation there are many things which can be refactored. We should start to develop a much more efficient and modern driver. The reference system is https://github.com/mqttjs/MQTT.js they have to meet the same requirements. They implement his driver in a more nodejs way. The fact that node-nats is the base of stan it is much

[2017-02-26 17:25] derekcollison commented on #129
We try to optimize for performance, do you have a sense on whether or not there would be a performance gain with the new approach? What is the minimum Node.js version that would be supported with this new approach?

[2017-02-27 15:37] aricart commented on #129
I am interested in understanding what you mean by 'Create message parser'. Can you please elaborate a bit more?

[2017-02-27 16:33] StarpTech commented on #129
Hi @derekcollison I don't just talk about performance. I do not any tests but I'm optimistic that implementing a driver with the stream2 interface would lead to a much better abstaction. One big advantage is that stream2 handle buffering and backpressure automatically.

Hi @aricart Im talking about a protocol parser instead to use regex so we can outsource the relevant parts and optimize it in lot

[2017-02-27 16:44] aricart commented on #129
So basically you want to externalize the parser so that you can inject your own. Is that right? [I wonder what it means for the message ordering to externalize it and make it an event emitter.]

I am also wondering what the optimizations would do? One thing that I am missing is the trigger for this request. While I am hearing that it could be faster, I am yet to see the metrics showing that this i

[2017-02-27 16:49] StarpTech commented on #129
I dont want to inject my own. I talk about to clean up the code.
Thats the reason why I open this issue so we can discuss about it.

[2017-02-27 16:50] StarpTech commented on #129
The benefits of the stream2 interface compared to the old interface you can find in the links.

[2017-02-27 16:53] aricart commented on #129
Can you motivate me in terms of actual throughput with the given implementation? While the new interfaces may in theory be faster, realize that the gains should be significant and somehow measurable.

[2017-02-27 17:01] StarpTech commented on #129
If you have 5min see the presenation of Isaac Z. https://dl.dropboxusercontent.com/u/3685/presentations/streams2/streams2-ko.pdf really worth reading. After that you can compare our current implementation better.

[2017-02-28 20:23] StarpTech commented on #129
@aricart Do you know understand the benefits of stream2 interface?

[2017-02-28 20:24] aricart commented on #129
Yes I do. Could you contribute a patch that changes the API to use stream2 so that we can measure the difference in performance?

[2017-02-28 20:28] StarpTech commented on #129
At the moment my time is very limited but I will try to prepare something.

[2017-03-01 16:40] mnbao1975 opened #130 "Handle Error for Pub/Sub"
Hello,

I have Authorization for client connections for the NATS server and it works well. But, what I would like to do is how do I catch the error when the publish() is failed because of permission.

Many thanks,
Bao

[2017-03-01 17:45] aricart commented on #130
That works out of the box. In my server I only have permissions to publish 'foo':
[code]

Now on the client side:

[code]

When the code runs, the error handler gets invoked:
[code]

If this doesn't work for you please feel free to open a new issue. Thanks.

[2017-03-01 17:45] #130 closed

[2017-03-02 06:01] mnbao1975 commented on #130
Many thanks aricart. The doc should be updated.

Bao

[2017-03-10 02:53] imatefx opened #132 "Can you release a new version?"
Can you release a new version?, the issue is already fixed, but i am forced to use the package from latest git commit

My docker image requires git to be installed for npm to grab it which increases the size of image 😄

[code]

Typescript wont compile my project because of this error, which is already fixed

[2017-03-10 04:19] aricart commented on #132
@imatefx Done!

[2017-03-10 04:19] #132 closed

[2017-03-15 08:14] vertti opened #133 "Typescript definitions issues"
When I have `nats` as a npm dependency and try compiling my project with tsc, I get:

[code]

[2017-03-15 08:28] vertti commented on #133
Ah, what was missing was Node's own type definitions. Fixed with

[code]

[2017-03-15 08:28] #133 closed

[2017-03-16 09:41] vertti opened #134 "Client.connected not found in type definition"
The field `Client.connected` is not included in the Typescript type definition file so it can't be correctly used from Typescript code.

[2017-03-16 14:39] aricart commented on #134
Client is a events.EventEmitter, you get 'connect' and 'reconnect' events. The internal flag is an implementation detail.

[2017-03-16 14:39] #134 closed

[2017-03-16 15:07] aricart commented on #134
The typescript program would looks something like this:
[code]

The generated javascript (same a hand-coded with the exception of the `exports` line.
[code]

[2017-03-19 11:12] StarpTech commented on #103
Would this feature allow to enable additional server in the cluster without restarting the clients?

[2017-03-20 14:30] aricart commented on #103
Yes!!

[2017-03-20 21:29] shaunpersad opened #135 "requestOne with timeout causes multiple responses"
Let's say I have one client who makes a requestOne call that exceeds the specified timeout, the callback will be called when the timeout is exceeded, as well as when the subscriber responds:

Client:
[code]

Subscriber:
[code]
Notice that the Client's timeout is 1s, but the Subscriber will take 10s to respond.

The client will output "Request for help timed out.", then output "Got a response for h

[2017-03-22 15:02] StarpTech commented on #135
@shaunpersad a timeout happens on client side. NATS don't know anything about it. You have to increase your timeout. It is possible to unsubscribe from the INBOX after it has reached the timeout but this is very special and a correct behaviour cannot be guaranteed. This can be implemented by yourself in just few lines.

[code]

[2017-03-22 15:15] aricart commented on #135
Actually this is a bug. The node client's `timeout` function (the normal way to do requests that timeout) doesn't auto-unsubscribe. Since `requestOne` is simply a convenience api setting the max number of expected responses, and calling `timeout`, it doesn't auto-unsubscribe either. The correct behaviour for both these api's is to unsubscribe on timeout.

[2017-03-22 15:19] StarpTech commented on #135
@aricart but it can happen that the service is faster that the unsubscribtion of the client? so when the SID could not be found the message will be discarded right?

[2017-03-22 15:29] aricart commented on #135
Not quite sure that I understand what you are saying. So let me try here:

When you unsubscribe, locally the node client will remove its subscription mapping. If a message doesn't have a matching subscription, it gets dropped. Since the node client is single threaded, when the unsubscribe is processed, the subscription is removed. If a new message is already in the buffer for the client during the

[2017-03-22 15:38] ColinSullivan1 commented on #135
Just to add a few thoughts on this - while the client may behave as expected as it is today, if the client does not unsubscribe, it leaves a subscription on the server for the lifetime of the connection.  With many requests, these subscription leaks will impact the server.  While this can be general problem in client design outside of request/reply, it should be addressed here as @aricart noted, f

[2017-03-22 17:18] aricart commented on #135
I have fixed this issue.

[2017-03-22 17:18] #135 closed

[2017-03-22 18:03] StarpTech commented on #135
@aricart correct me if Im wrong but the subscription will be unsubscribed when:
1. normal subscribe on subject `test` with a timeout of `2000`
2. timeout occurs
3. unsubsribe occurs
4. **service will never gets messages**

[2017-03-22 18:23] aricart commented on #135
Correct there will be no messages if it times out.

On Mar 22, 2017 1:03 PM, "Dustin Deus" <notifications@github.com> wrote:

[2017-03-22 18:24] StarpTech commented on #135
@aricart

This behaviour will break lots of system because until version 0.7.14 the subject was still subscribed and messages could be received. This means that the client is resonsible to resubscribe on a timeout? If you use queue-groups this would mean that you assume that all subscribers are broken?

[2017-03-22 19:00] aricart commented on #135
But that is not the correct intent is it?
If you subscribe expecting to timeout after a certain amount of time, you surely are not expecting the subscription to be active after the timeout when no messages were received. What is the meaning of a timeout on a subscriber? Even more basic, what is the meaning of a timeout?

A queue group is there to load-balance messages coming on a particular subjec

[2017-03-22 19:28] StarpTech commented on #135
@aricart I got it I misinterpret some points. The timout must be called explicit.

[2017-04-08 19:22] jjp91 opened #138 "Be able to get the subject on buffer mode"
Hello,

When we open a wild card subscription, it would be intresting (in order to select the accurate API) to get the full subject inside the actual object provided, something like this  - {type:"buffer",data:[msg],subject:"fullsubject"}

Thank you by advance.

[2017-04-08 19:31] derekcollison commented on #138
It does already.

https://github.com/nats-io/node-nats/blob/master/test/basics.js#L186

[2017-04-08 19:31] #138 closed

[2017-04-11 19:28] antonioaguilar opened #139 "node-nats browser version?"
Is there a way to convert ```node-nats``` to a browser version?

I have tried with ```browserify```:
[code]

but this doesn't export the NATS methods properly.  Any idea on what I might be missing?

[2017-04-12 13:48] aricart commented on #139
@antonioaguilar unfortunately NATS uses it's own tcp protocol. So you cannot use it directly from a browser as browsers only do HTTP/S or Websocket.

This means that you'll need a websocket to tcp proxy, and a library such as
https://www.npmjs.com/package/websocket-nats.

[2017-04-12 13:48] #139 closed

[2017-04-13 10:20] StarpTech opened #140 "Does nats follows SemVer?"
When yes please upgrade to 1.0.0 according to http://semver.org/#how-do-i-know-when-to-release-100.
When not what's the version strategy?

[2017-04-13 14:20] aricart commented on #140
How can an API be 1.0 when the server itself isn't
;)

[2017-04-13 14:22] #140 closed

[2017-04-13 14:29] StarpTech commented on #140
@aricart because you maintain an abstraction of the api with a fixed interface. When the server api will change I don't think it has an impact of the api of the drivers. The version should mirror the state of the software.

[2017-04-13 14:30] aricart commented on #140
True, but I think there should be some mapping. Otherwise when there are protocol changes it is difficult to mentally map what version of the client matches the server.

[2017-04-20 08:29] StarpTech commented on #103
@aricart does exist a roadmap when can we expect this feature? Thanks.

[2017-04-20 13:44] aricart commented on #103
It is the highest priority for node-nats.

[2017-05-05 00:43] petemiron opened #144 "Add jslinter to Travis"
Add a linter (JSHint or ESLint) to travis builds to ensure consistent formatting and prevent common issues.

cc @kozlovic

[2017-05-05 15:21] aricart commented on #144
@petemiron @kozlovic We actually do run a linter however formatting is not part of it.
I was thinking that likely we should use `jscs` - perhaps moving from jshint to eslint.
One thing is that changing the formatting will basically we'll dump all the blames on the file.

Also it we should pick some sort of style. I would go for https://github.com/jscs-dev/node-jscs/blob/master/presets/crockford.js

[2017-05-05 15:50] kozlovic commented on #144
That's something I love about Go is that the formatting is no subjective ;-)
I don't know if we need a tool or not, or just simply manually fixing the obvious ones such as the one where adding code for INFO protocol. In other words, when adding or updating some code, take the opportunity to fix the formatting.

[2017-05-05 20:49] #103 closed

[2017-05-11 14:45] blazedd opened #145 "Error when reconnecting to server & Attempting to send messages"
We've encountered a conditional bug where the NATS client will attempt to send messages, despite no longer being connected to the server. In the code it's not checking to see if the socket is still attached or not and casuses an error. The side affect appears to prevent the application from completing a reconnect as well. Once completely restarted it can once again reconnect to the server.

You ca

[2017-05-11 14:46] aricart commented on #145
@blazedd can you attach the version number as written in the nats.js.

[2017-05-11 14:53] blazedd commented on #145
@aricart It uses the latest `0.7.18` that's available on NPM.

[2017-05-11 14:54] aricart commented on #145
@blazedd Also are you getting called on 'close', 'disconnect' or 'error'.

[2017-05-11 14:56] blazedd commented on #145
@aricart We are only seeing `reconnecting` and `error` events.

[2017-05-11 15:07] aricart commented on #145
@blazedd Can you give me your connect options.
the only way that the stream is nullified is by closeStream().

If we are raising an error, the error argument ill have additional information. It has several properties. Can you print them out. ie:
[code]

[2017-05-11 15:10] blazedd commented on #145
Connect options:
[code]

Error:
[code]

[2017-05-11 15:14] aricart commented on #145
@blazedd please attach the stack trace where this error is generate

[2017-05-11 15:15] blazedd commented on #145
@aricart Fair point. Should have posted that too (whoops)

[code]

ps thanks for being so quick to help! :D

[2017-05-11 15:19] aricart commented on #145
I don't want minecraft severs to fail. :)

[2017-05-11 15:27] aricart commented on #145
OK we are getting close now. Do you have access to the gnatsd log? There's a timeout on the server authorization. So I would imagine we have a matching error on the server side.

The part that doesn't make sense to me is that if you restart your process it connects fine. Is it possible that you have a cluster and given that 0.7.18 is dynamically updating the client with routes from other servers i

[2017-05-11 15:50] blazedd commented on #145
@aricart Thanks. Our current configuration of NATS is as folllows:

We have a cluster of 3 nodes, 1 in Chicago, another in Phoenix, and a final one in Amsterdam. We have 1 DNS hostname that uses geo-dns to route the connection appropriately, depending where the connection is coming from. Due to this, we're only ever connecting to 1 server explictly via node-nats. Is this not an ideal way to do thi

[2017-05-11 16:12] aricart commented on #145
Not sure I am following. But the dockerized nats (https://hub.docker.com/_/nats/) will have clustering setup, and since you seem to be using default ports, if the find each other they will certainly join.

Just to clarify. You are running two gnatsd processes or is the dockerized nats exposed on 2 different IPs?

[2017-05-11 16:18] aricart commented on #145
One fix for right now to unblock you is to have the gnatsd use the flag --no_advertise, set up. This will make it so that the client will not get dynamic updates on cluster members.

The other possibility is to change the configuration of the dockerized gnatsd (assuming that their configurations match) to have a config setting that specifies a longer timeout for the authentication:

[code]

Also I

[2017-05-11 17:10] Cherry commented on #145
Thanks for all your help @aricart!

To clarify our nats setup, we have 3 instances of gnatsd running with Docker, on 3 separate machines (in 3 separate locations). Each one of these instances pass a `--routes` option, referencing the other 2 instances. We then connect to a single DNS hostname (nats.example.com) from all of our applications, which via geo-dns responds with the closest server.

Woul

[2017-05-11 17:26] blazedd commented on #145
@aricart Thanks for the `--no_advertise` flag. That certainly _would_ have been an issue at some level. My `nc.server` list now only shows the server we expect, rather than the local network ip. This local network IP is a result of Docker and might be something to consider on the Docker NATS documentation.

That said it still occurs. I also can replicate it with the Node script here: https://gist.

[2017-05-11 17:34] blazedd commented on #145
After further testing I've also been able to test this with the default docker image running at localhost. This is not a result of clustering. :/

[2017-05-11 17:39] ColinSullivan1 commented on #145
@blazedd , Regarding the timeout, I think you may be running into CPU contention between password decryption and TLS - you are likely running into [this issue](https://github.com/nats-io/gnatsd/issues/432).  I'd suggest increasing your authorization timeout in the NATS server as @aricart described above in his configuration file example.

[2017-05-11 17:54] blazedd commented on #145
New information! This only occurs when TLS is used. I can start/stop and interrupt the connection without any unexpected problems

[2017-05-11 17:55] aricart commented on #145
@blazedd @Cherry  the authorization issue is a result of the `timeout:  x` configuration on the docker, and the bug that I posted the patch on.

After your changes to the docker image, how many servers does the nats client know about?

If the answer is 1, one suggestion is that each of the servers should likely a very specific interface or name. This would enable you to actually inspect the server

[2017-05-11 17:56] aricart commented on #145
@blazedd  - yes the https://github.com/nats-io/gnatsd/issues/432 contention that @ColinSullivan1 described is what is creating the error on connect. Need to increase the `timeout` setting.

[2017-05-11 18:04] blazedd commented on #145
@aricart Not quite the fix we hoped. Regardless what I set the timeout to I get those errors about authorization timeout it always times out until I restart the app. I've tried setting the timeout for each code block (tls, cluster, etc).

[2017-05-11 18:06] aricart commented on #145
I'll verify the fix I put the patch for above. This would move you to the next server but unless you change the timeout likely there's not that much we can do until https://github.com/nats-io/gnatsd/issues/432 is resolved.

[2017-05-11 18:08] blazedd commented on #145
@aricart The `return` didn't solve the issue for my test. Also in my test I'm not using our cluster in attempt to remove potential variables that we introduced. :)

Thanks again for helping with this!

[2017-05-11 18:09] aricart commented on #145
Give me a bit to figure the proper fix.

[2017-05-11 18:34] blazedd commented on #145
After a lot of poking around I've found a few problems related to the node-nats client itself.

1. Socket connections are not cleaned up on reconnect or the TLS upgrade.
2. As a result multiple connections are being attempted to gnatsd. Whichever socket last connected gets the data to write to the socket as it's the current reference to the `client.socket` variable.
3. Adding a simple check to see

[2017-05-16 17:14] aricart commented on #145
The final fix for this issue and other reconnect logic is in https://github.com/nats-io/node-nats/pull/147.

[2017-05-16 17:14] #145 closed

[2017-05-17 16:19] Cherry commented on #145
Thanks so much @aricart! Is there an ETA for when this will land in a release?

[2017-05-17 18:02] aricart commented on #145
@cherry  it is already in npm!

https://www.npmjs.com/package/nats

[2017-05-17 18:03] Cherry commented on #145
Ah, perfect. Thanks @aricart! 😄

[2017-05-20 15:00] StarpTech commented on #144
I vote for https://standards.com

[2017-05-24 13:28] petemiron opened #148 "TLS not automatically set to true when NATS.connect("tls://...")"
To keep consistency with the go client and simplify client configuration, the client should automatically set `tls=true` when `tls://` is specified in the URL connect string.

[2017-06-02 17:14] #144 closed

[2017-06-05 13:25] petemiron opened #151 "Requests are too protocol chatty, should be optimized"
re: https://github.com/nats-io/go-nats/issues/294

Must retain request and requestOne semantics, while minimizing network calls to subscribe to a a new inbox channel.

[2017-06-06 02:32] Vonnguru opened #152 "Issue connecting to nats service when NICs are disabled"
We think we are seeing this in a couple different configurations but basically if NICs are disabled or internet is not available, our node client cannot connect to our server.

Has anyone seen this before? We are just using the default localhost for the url.

NatsError: Could not connect to server: Error: getaddrinfo ENOENT

[2017-06-06 12:07] aricart commented on #152
What happens if you use an URL like `nats://127.0.0.1:4333`?
What OS is this?

Local host must be resolved by dns.  What does your /etc/hosts and /etc/host.conf look like?

[2017-06-08 14:52] aricart commented on #152
@Vonnguru  I haven't seen any more activity on this. This looks like the same issue as described here:
https://stackoverflow.com/questions/15527775/getaddrinfo-enoent-error-from-http-request-on-node-js

If you have different findings, please reopen this issue.

[2017-06-08 14:52] #152 closed

[2017-06-12 06:38] Vonnguru commented on #152
Thank you - your answer was correct!

[2017-07-26 02:07] thanhngvpt opened #153 "How can i run example on nodejs?"
Hi all.
I'm following this page to start with nats http://www.nats.io/documentation/tutorials/nats-queueing/
on part 2 with command
`
cd node_modules/nats/examples
node node-sub.js foo my-queue
`
I don't know where folder to run this command. Please help me out.
Thanks.

[2017-07-26 13:37] aricart commented on #153
@thanhngvpt the examples are not part of the binary distribution installed by npm. To get the examples you need to clone the repo. https://github.com/nats-io/node-nats. The examples are in the 'examples' directory.

However more direct to your question, the documentation you list is wrong is saying that the node-sub.js allows a queue name argument (I have filed a defect on the documentation). You

[2017-07-26 13:37] #153 closed

[2017-07-26 13:40] aricart opened #154 "Node samples should add or modify examples to match the tutorials"
http://www.nats.io/documentation/tutorials/nats-req-rep/
http://www.nats.io/documentation/tutorials/nats-queueing/

And generally the go client - note documentation is wrong since it suggests that nats-sub takes a queueing argument when separate samples illustrate that functionality.

[2017-08-08 08:52] sittingbool opened #155 "typings for tls don't allow tls options (object)"
Hi for my test server I am using ClientOptions in the form of:
`{
    user: 'myuser',
    pass: 'mypass',
    tls: {
          rejectUnauthorized: false
    }
}`

 and I am using TypeScript. Without manually changing Typescript gives me an error because tls only accepts a boolean. Can you add `| Object` at least?

[2017-08-08 14:35] aricart commented on #155
Hi @sittingbool can you have a look at this PR and verify that it works for you.
https://github.com/nats-io/node-nats/pull/156
Thanks!

[2017-08-08 14:41] sittingbool commented on #155
Works fine for me, thats how i changed it manually in my node_modules and it compiled. Thanks!

[2017-08-08 15:04] aricart opened #157 "RFC: Separate typings from node-nats to node-nats-typings?"
One issue with the current typings in node-nats and node-nats-streaming is that the projects are setup for Javascript. In most cases the typings definitions have been contributed. I am wondering if it would be a good thing to have a separate repos for the typings definitions. This would allow the repo to be properly setup and have at least minimal tests and samples.

Any comments from the communit

[2017-08-08 15:06] #155 closed

[2017-08-08 15:20] tutman96 commented on #157
I am not sure what you mean when you say "would allow the repo to be properly setup and have at least minimal tests". I am not familiar with the node-nats-streaming repo but I was under the impression that it used the node-nats module internally. I am not sure splitting out the typings into its own repo would help with anything.

[2017-08-08 15:22] aricart commented on #157
It would keep each 'language' separate with their own examples etc.

[2017-08-08 15:28] tutman96 commented on #157
Ah, I see where you are coming from. Typescript, being an extension of javascript, allows me to simply copy and paste the javascript examples into my typescript project. The only difference comes with importing the nats module (`import nats = require('nats')` vs `var nats = require('nats')`) but that is a minimal difference. If I use typescript, I will get automatic type inferences because of the

[2017-08-17 01:47] zhaoyao91 opened #158 "Problem when subject contains space"
If subject of a publish contains space, then the second token will be treated as replyId, which is weired.

If subject cannot contains space, it should throw error as soon as possible

[2017-08-17 21:20] aricart commented on #158
@zhaoyao91 - Yes if you have a single space on the subject and don't specify a reply inbox, the client will create a protocol message that behaves exactly as you describe:

`PUB <subject> [reply-to] <#bytes>\r\n[payload]\r\n`

The protocol separates the subject from the reply-to by a space.

We currently don't validate spaces on a subject on any of the clients, so this type of issue will be visibl

[2017-08-17 21:25] #158 closed

[2017-08-18 08:18] zhaoyao91 opened #159 "Reconnection problem"
What's the default reconnection policy of this package? How could I config it?

In my cluster I encountered such problem several times, it seems services already disconnected from the server, or didn't connect at first time at all, but it just keeps running with a dumb nats and doesn't recover  event the nats server has already started.

[2017-08-18 15:15] aricart commented on #159
@zhaoyao91  by default the client will attempt to reconnect 10 times waiting to seconds between connects. After that the connection will close. I have updated the readme with a small sample in the 'advanced usage'. See https://github.com/nats-io/node-nats#advanced-usage

[2017-08-18 15:17] #159 closed

[2017-08-19 12:26] zhaoyao91 opened #160 "If nats.connect(url), then connection.reconnect cannot work"
If I get connection from nats.connect(url) instead of nats.connect(options), then connection.reconnect() cannot work.

[code]

[2017-08-19 13:26] zhaoyao91 commented on #160
sorry, it's because it failed the first  time to connect to nats.

[2017-08-19 13:26] #160 closed

[2017-09-15 01:50] zhaoyao91 opened #161 "Support gzip?"
Does this module support using gzip to compress the msg?

[2017-09-15 11:44] aricart commented on #161
Not directly. You will have to create a zlib object and compress/decompress
the payload yourself as that is application specific encoding.

On Thu, Sep 14, 2017 at 9:50 PM Yao Zhao <notifications@github.com> wrote:

[2017-09-18 01:39] zhaoyao91 commented on #161
I noticed this sdk transfer **string** message, not buffer, does that mean I should base64 my gzipped data?

[2017-09-18 01:40] tutman96 commented on #161
If you set the option preserveBuffers you should be able to pass a Buffer in as the payload (and get them raw back)

[2017-09-18 02:34] zhaoyao91 commented on #161
thanks

[2017-09-18 02:34] #161 closed

[2017-10-18 07:13] Cyperwu opened #165 "Bad decoding for languages other than English"
Hi!

In line ```767```, ```var buf = client.inbound.toString('binary', 0, MAX_CONTROL_LINE_SIZE);```
encoding error will occur when using other languages.

---

I tried change ```'binary'``` to ```'utf8'``` in line ```767``` and add a function getting binary length from utf8 string:
[code]

Then change line ```936``` ```var psize = m[0].length;``` to ```var psize = byteLength(m[0])```, my problem

[2017-10-18 15:28] aricart commented on #165
@Cyperwu Thanks for the report. Could you be so kind as to send us a sample input (subject) and payload that we can take a look at? Thanks!

[2017-10-18 18:31] aricart commented on #165
@Cyperwu I am guessing here that the subject is not ASCII, and likely it should be. While the payload can be anything, the NATS protocol must be ASCII. Can you confirm this is the case?

[2017-10-19 01:24] Cyperwu commented on #165
@aricart No the subject is not ASCII. But the NATS documentation didn't specify any encoding is a "must use" in subjects.

[2017-10-19 01:46] Cyperwu commented on #165
@aricart  tried to directly subscribe to a non-alphanumeric subject and received no message.
But in fact if we use wildcard to match the rest part of the subject, even non-alphanumeric subjects are valid.
[code]
```SUB mainChannel.>\r\n\r\n``` will still get me messages

[2017-10-20 18:33] isobit commented on #165
Perhaps an issue should be filed with [gnatsd](https://github.com/nats-io/gnatsd) requesting support for UTF8 support in topic names? If the NATS protocol requires that topics are ASCII-encoded then it seems like this is a non-issue for client libs.

[2017-10-20 19:00] wallyqs commented on #165
A reproducible example which makes it fail might be nice, tried out of curiosity and there does not seem to be an issue receiving the message when using non-ASCII characters in the protocol line either.

[code]

[2017-10-23 03:39] Cyperwu commented on #165
@isobit I agree.

[2017-10-23 03:40] Cyperwu commented on #165
@wallyqs What if you try ```node examples/node-sub "hello.日本語 " ```?

[2017-10-23 04:16] wallyqs commented on #165
@Cyperwu that works for me locally too...

[code]

[2017-10-23 05:55] Cyperwu commented on #165
@wallyqs In my case it is ```Received "中文" from "hello.æ¥æ¬èª"```

[2017-10-23 14:51] aricart commented on #165
I also get:
[code]

@Cyperwu what OS are you running in?

[2017-10-23 21:57] aricart opened #170 "Zero Allocation Parser"
The control line converts the inbound buffer to a string in order to parse the message header.
Instead, should do a hand-rolled zero allocation parser as go-nats.

[2017-10-24 01:18] Cyperwu commented on #165
That's odd. My machine is MacOS X El Capitan 10.11.5. @aricart

[2017-10-25 15:21] janmeier opened #171 "Reconnecting on AWS Lambda"
We are seeing intermittent issue on AWS lambda, where the client is failing to publish messages to NATS within five seconds (which is the timeout we have for all NATS clients in our infrastructure). This is only a problem on lambda.

The client is initiated with default options, so as far as I can see it should attempt to reconnect after two seconds.

I have a feeling that the client is not reconn

[2017-10-25 15:54] ColinSullivan1 commented on #171
@janmeier , I agree that freeze/thaw here could be a culprit.  Would you have NATS server logs from the time this happens?  In addition to your suspicions around network interface bindings, I can also imagine a case where the server disconnects the client due to inactivity, but after the client is thawed the clients doesn't reflect that connection state.  @aricart - any additional comments?

[2017-10-25 16:33] aricart commented on #171
@janmeier the default reconnectTimeWait is 2 seconds, maxReconnectAttempts is 10. I think for sure you want to set maxReconnectsAttempts to -1. Now lets try to break it down.

First thing, `reconnect()` is private API, so your mileage will vary.

The main problem you are trying to solve is to determine whether you are connected to the server or not. I made this small gist to illustrate one possibl

[2017-10-25 21:06] janmeier commented on #171
I looked at the nats logs, but didn't find anything interesting (nothing logged at all around the time of the issues - Should I increase the log level? - It's at INF currently).

I've managed to semi-reliably reproduce the issue so I will share what I have so far (still way to much code for it to be meaningfull to share). I added the debug code from the gist to my code.

I've attached some cleaned

[2017-10-26 13:40] aricart commented on #171
@janmeier Sorry the final gist got a message refactored, and I inadvertently renamed the event from 'disconnect' to 'disconnected' on the sample. I have updated it. I also added a 'reconnecting' handler so you can see when the library attempts to reconnect.

Note that the `close` events are only emitted if you directly call `close()`, `reconnect`option is set to `false` or you reached `maxReconnec

[2017-10-26 16:07] ColinSullivan1 commented on #171
@janmeier , Thanks for the additional info.  Regarding NATS server logs, you'll want to can increase the log level with the `-D` parameter.  That should give us the connection related information we need, If you have lower throughput `-DV` is better and will give additional information, but will be extremely verbose (it will trace every message).

[2017-10-27 07:19] janmeier commented on #171
Here's a test case where I've managed to replicate the issue

[code]

Invoking this function with a five minute interval I get the following output:
[code]

The first two attempts work fine, but on the third the connection has been lost. Calling flush actually makes nats create a new connection, but the publish request seems to be sent on the old connection, and is not resent:
[code]

I could fix

[2017-10-27 08:11] janmeier commented on #171
@ColinSullivan1 I tried enabling debug information, but given that this is a production server, and that it's (to my knowledge) not possible to determine the IP address of a lambda function I didn't get any useful info.
I will try to find the time to set up a separate NATS instance to test this sometime next week

[2017-10-27 19:27] aricart commented on #171
@janmeier few things:
- Remember that NATS is not reliable messaging. If you want to know that your message was acted on, you likely should be doing a Request/Reply for the operation or switch to NATS streaming.
- I am thinking the issue here is that the AWS is messing with the vm after the message has been queued up, but before the `socket.write` happens. NATS clients typically don't recover from

[2017-10-31 09:16] veznidav opened #172 "Application can't resolve NATS dependecies"
I installed NATS via npm (npm install nats). Then followed basic usage. When I start the application I got this errors:

`ERROR in ./node_modules/nats/lib/nats.js
Module not found: Error: Can't resolve 'net' in 'C:\p4\Mycore\Ui\main\Mycronic.Mycore.Ui.Loading\node_modules\nats\lib'
 @ ./node_modules/nats/lib/nats.js 14:10-24
 @ ./node_modules/nats/index.js
 @ ./ClientApp/boot-client.tsx
 @ multi r

[2017-10-31 14:19] aricart commented on #172
Are you trying to use it inside of a web project?

[2017-10-31 16:36] veznidav commented on #172
I am trying to use it in a web browser. Is there any opportunity how to use nats in a browser? I need it for receiving push notifications from the server.

[2017-10-31 18:42] aricart commented on #172
You would have to have a layer to do websockets.
Take a look at https://github.com/isobit/websocket-nats,

[2017-11-01 09:31] veznidav commented on #172
You are right, thank you. One more question - is there any simpler way, how to make a client browser just receiving the nats messages?

[2017-11-07 16:17] akahan opened #173 "Connection not restored. Help )"
Hi. I use node-nats to connect to the polygon.io. I created a client, connect, subscribe and receive the data. All ok. I also did callbacks on error, on disconnect, on reconnect, on close and so on. Next, I break the network on the router to test reconnecting when network broken. In the end, none of callbacks is not invoked. The connection is not restored. Apparently I'm doing something wrong.

[2017-11-07 16:19] aricart commented on #173
Likely in your connect configuration you need to set `maxReconnectAttempts` to `-1` like this:
`var nc = NATS.connect({maxReconnectAttempts: -1});` By default the client will attempt reconnect 10 times, and then call `close()`.

[2017-11-07 16:29] aricart commented on #173
Also, this works:
[code]

[code]

[2017-11-07 17:02] akahan commented on #173
No, it's not working. Weird.
bash-3.2$ node build/server/FeedFactory/test_polygon.js
initial connect

And then hangs!

[2017-11-07 17:13] akahan commented on #173
Yes, when I create a local server, gnatsd, and after connecting the script I kill the server then my script tries to reconnect 3 times, then closes the connection. But why it doesn't work when i break the network?

[2017-11-07 18:44] aricart commented on #173
node-nats doesn't have a timer executing the pings (that is a bug) so you are at the mercy of the OS notification which could take hours.

[2017-11-07 18:45] aricart opened #174 "node-nats doesn't have timer for client pings to the server"
node-nats doesn't have a timer for client pings to the server resulting in very long timeout notifications. See #173.

[2017-11-07 20:22] aricart commented on #173
As a workaround, you could set-up an interval that sends a ping. Sort of what this does:
https://gist.github.com/aricart/2796171f295fd4bdf59d57a5f2d383e9. However, the real fix needs to come from the library.

[2017-11-07 20:52] akahan commented on #173
Many thanks for the prompt reply.

[2017-11-07 22:39] akahan commented on #173
Here's what I got:

[code]

[2017-11-07 22:55] aricart commented on #173
the problem with closeStream is fairly aggressive because it effectively closes the nats connection. The solution is really to invoke the code under `stream.on('close')` and have the library re-connect as necessary.

[2017-11-07 22:59] akahan commented on #173
No, i try stream.on('close'). So does not work
This causes various errors:
[code]
or
[code]
or
[code]

[2017-11-07 23:10] akahan commented on #173
With closeStream() all work like a charm)

[2017-11-09 11:12] valichek opened #175 "Authorization violation error and maxReconnectAttempts issue"
Authorization violation error is emitted every second time when reconnecting. If I set `maxReconnectAttempts` to `0`. No error event received then.

[2017-11-09 15:21] aricart commented on #175
@valichek likely then you have an authorization validation. What does your server configuration and client configuration look like? Setting `maxReconnectAttemts` to 0, effectively prevents the client from reconnecting if it fails to connect the first time.

[2017-11-09 15:37] valichek commented on #175
@aricart
these are the only parameters for client I have:
[code]
Server closes connection right after sending `Authorization violation` error to the client. So if no reconnect - no error emitted from client.

[2017-11-09 15:42] valichek commented on #175
The problem is that client doesn't emit `Authorization violation` if `maxReconnectAttemts = 0`. I can get it only when `maxReconnectAttemts > 0` But again it is emitted not every time when received from server.

[2017-11-09 15:49] aricart commented on #175
I am not able to reproduce your issue. Do you have a cluster? I get one notification

[code]

If I run this:
[code]
I get, one error every time.

[code]

[2017-11-09 16:29] #175 closed

[2017-11-11 08:58] valichek opened #176 "No docs about waitOnFirstConnect option"
Currently `waitOnFirstConnect` option is not mentioned in the documentation

[2017-11-13 16:06] aricart commented on #176
This was added to address #65. Other clients don't have this option. Thanks for reporting this.

[2017-11-14 16:42] abacaj opened #177 "Queueing Semantics"
Hi, I assume when we say 'queueing' we are enqueuing messages to the queue that will be dequeued when a client is subscribed.

If there are no subscribers it seems that the 'queue' doesn't exist at all, the publisher publishes messages to some queue but when I start the subscriber there is no dequeuing happening and only when the publisher + subscriber are connected does this 'queue' exist.

This

[2017-11-14 16:46] abacaj opened #178 "Queueing Semantics"
Hi, I assume when we say 'queueing' we are enqueuing messages to the queue that will be dequeued when a client is subscribed.

If there are no subscribers it seems that the 'queue' doesn't exist at all, the publisher publishes messages to some queue but when I start the subscriber there is no dequeuing happening and only when the publisher + subscriber are connected does this 'queue' exist.

This

[2017-11-14 16:51] #178 closed

[2017-11-19 14:59] janmeier commented on #171
I've played around with this quite a lot, and it's definitely working better, but we are still seeming a small portion of timeouts. However, I have not been able to create a small test-case that can reliably reproduce this, so I will try to relay my findings.

I implemented a flush operation at the start of each lambda invocation, and that seems to have helped a great deal to figure out if we are

[2017-11-19 14:59] janmeier commented on #171
By the way - Thank you for working with me on this - Really appreciated!

[2017-11-20 15:46] aricart commented on #171
@janmeier you are welcomed.

There's a slight difference. The `+OK` is returned for a successful operation. The problem is that from that we cannot determine which operation succeeded. In the case of the callbacks, they are registered with a specific `PING` sent on the flush. When the matching `PONG` is returned, the callback is invoked.

BTW - I think this issue is also related to #174. It is fix

[2017-12-04 12:49] #173 closed

[2017-12-04 15:06] aricart commented on #177
On NATS a subscriber queue is really a group of subscribers that load balances a subscription under a given 'queue' name. The server selects a subscriber between members of the subscriber queue to which to send the published message. There's no persistence provided by NATS, so if messages are published when no subscriber is available, it is simply discarded.

For persistence, you need to look at [

[2017-12-04 15:06] #177 closed

[2017-12-04 15:09] #174 closed

[2017-12-04 15:09] aricart commented on #173
This is issue is likely addressed in #174.

[2017-12-04 15:10] aricart commented on #172
Unfortunately not yet.

[2017-12-04 15:10] #172 closed

[2017-12-12 21:05] ColinSullivan1 commented on #171
@janmeier , just following up...  Would you mind testing if #174 in the master branch fixes this issue for you?

[2017-12-20 10:36] StarpTech opened #181 "After upgrade I get 'Authorization Violation' errors"
Hi, after upgrading NATS I get issues about 'Authorization Violation' errors. I can't reproduce it on locally on Windows but on Appveyor or Travis https://travis-ci.org/hemerajs/hemera/jobs/318878569 Do you know what could get wrong?
[code]

[2017-12-20 11:06] StarpTech commented on #181
Can be closed. It was a wrong nats connection string in my tests. But very interesting that `authorization` issues weren't thrown before :/

[2017-12-20 15:31] aricart commented on #181
What version did you upgrade to? Current on npm?

[2017-12-20 15:42] StarpTech commented on #181
Yes, I upgraded to 0.7.2 to 0.7.24

[2017-12-21 20:10] ilyjs opened #182 "How to promisify nats.subscribe"
[code]
erorr :

[2017-12-21 22:58] aricart commented on #182
node-nats at this time cannot be promisified. As per [promisify](http://bluebirdjs.com/docs/api/promise.promisify.html) docs:

[2017-12-21 23:00] #182 closed

[2017-12-22 10:21] ilyjs commented on #182
**aricart  thanks for your reply!**

[code]

[2018-01-08 15:05] #181 closed

[2018-01-13 00:18] ColinSullivan1 commented on #171
Closing due to inactivity.  Please re-open if this continues to be an issue.

[2018-01-13 00:18] #171 closed

[2018-02-12 13:53] grbr opened #188 "Queue groups don't work because of not unique ssid"
Hello,

I wanna run a few copies of client in cluster. And i can not ensure the uniqueness of the subscription's id because the id is generated sequentially inside the library.

[https://nats.io/documentation/internals/nats-protocol/](url)

It's unique only in same instance of node-nats.
`this.ssid += 1;`
Can you replace this with some guid, uuid or anything everywhere-unique

[2018-02-12 15:11] grbr commented on #188
Sorry, issue was in my client code. Everything work fine now.

[2018-02-12 15:11] #188 closed

[2018-02-12 15:20] derekcollison commented on #188
SID (Subscription IDs) are closures under a single connection. There uniqueness only has to be within the context of that connection.

[2018-02-13 02:11] veeramarni opened #190 "type error"
Error
--
ERROR in [at-loader] ../../node_modules/nats/index.d.ts:64:22
    TS2694: Namespace '"tls"' has no exported member 'TlsOptions'.

Version: nats@^0.7.24

Reason: TlsOptions doesn't exist in `@types/node`@8.9.x . It exist in some of the previous versions.

[2018-02-13 23:15] imrefazekas opened #192 "nats process does not stop from version 0.7.25"
I updated to version 0.7.25 and  after nats.close() the node process is still running.

Running it with 0.7.24 works fine and node process stops properly.

[2018-02-13 23:19] imrefazekas commented on #192
This code does not stop with 0.7.25 but stops with 0.7.24.
I'm using node 9.4.0
[code]

[2018-02-13 23:41] aricart commented on #192
@imrefazekas I have verified the issue. The heartbeat code is keeping it from exiting for a long time.

[2018-02-14 13:15] Qwerios commented on #190
Beware that they have undone the upstream rename so things are breaking again

[2018-02-14 21:43] #192 closed

[2018-02-14 21:48] aricart commented on #190
Released and published 0.7.29. This version reverts TlsServerOptions to TlsOptions

[2018-02-28 00:08] aricart commented on #151
Final fix is in #196

[2018-02-28 00:08] #151 closed

[2018-03-03 20:39] StarpTech opened #201 "Subscription is canceled although expected msg count is null or negative"
Hi, the current timeout implementation does not allow to use only the timeout feature without to specify a count of expected messages.

**Use case:**
The user should be able to receive max N messages or less. In this case, he is responsible to close the INBOX before it happens automatically (max-messages, timeout, expectedMsg).

nats: 0.8.2

[code]

## Output
[code]
## Exptected Output
[code]
## S

[2018-03-05 16:47] aricart commented on #201
Hi @StarpTech timeout has always been associated with a message count for a subscription, and one of two things happens. Either you get the message count within the allotted time or the timeout fires. When the max number of messages is specified on a request or subscription, the library will auto-unsubscribe you when that count happens (ie by the time you get invoked in your callback, the unsubscr

[2018-03-05 18:33] StarpTech commented on #201
Hi @aricart this sounds reasonable to me. Thanks for the clarification.

[2018-03-05 18:33] #201 closed

[2018-03-05 20:29] StarpTech opened #203 "Unlimited messages with max: -1"
Hi, is it valid to assign the `max` property with `-1` when the user is responsible for unsubscribing?

[2018-03-06 04:10] omg opened #204 "Add reply, subject and sid to respmux callback invocation"
Are reply, subject and sid args deliberately missing here and can they be added back plz?
https://github.com/nats-io/node-nats/blob/4079c2b928e0ee36566c3e3e2724b40c1bb4665f/lib/nats.js#L1474

I propose this way of invocation:
`conf.callback(msg, reply, subject, conf.id)`
to keep it compatible with subscription and "old" request callbacks

[2018-03-06 21:50] aricart commented on #204
@omg thanks for the catch. The original implementation of request simply gave the message and the possible reply subject. Not quite sure if the additional arguments are useful, the subject certainly shouldn't be used, as the handler for those messages could be dropped and are internally generated.

[2018-03-07 14:46] aricart commented on #204
@omg  this is fixed in v0.8.4

[2018-03-07 14:46] #204 closed

[2018-03-08 21:55] omg commented on #204
@aricart  Thank you, reply is sufficient for me. But "sid" arg can actually be useful when you have custom unsubscription logic other than max or timeout (by sid i mean here mux id, not actual subscription id). Subject may not be of much use but could be there for the sake of callback signature uniformity

[2018-03-08 22:49] aricart commented on #204
@omg, the real issue is whether we are doing a 'subscription' or a convenience request api call. I think one shouldn't require management. Only reason why I didn't add the other arguments is that the old implementation didn't provide them.

[2018-03-09 22:52] #94 closed

[2018-03-09 22:52] #176 closed

[2018-03-11 11:09] StarpTech opened #207 "How to detect a slow consumer"
Hi, according to https://github.com/nats-io/nats-site/blob/master/content/documentation/server/gnatsd-slow-consumers.md#slow-consumers-identified-in-the-client

How to archive this in Node.js?

When my applications run into a "slow consumer" condition no error is emitted. I only get a "REQ_TIMEOUT" on the producer side.

The next question is how can I recover from this state when I can't detect it

[2018-03-12 04:37] zhaoyao91 opened #208 "async await api?"
Could you please offer async/await version of for subscribe and publish/request ?

[2018-03-12 09:35] zhaoyao91 opened #209 "How to remove event listeners?"
I can add listeners by `nats.on`, but there isn't `nats.off`

[2018-03-12 09:37] #209 closed

[2018-03-12 10:07] zhaoyao91 opened #210 "on('close') will never get called"
due to https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L634

the on('close', handler) will not get called.

[2018-03-12 10:30] zhaoyao91 commented on #210
more, call `nats.close` will cause app exit without any error. I don't know why.

[2018-03-12 14:37] aricart commented on #210
@zhaoyao91 `on('close`) is only emitted when the connection the server is closed. Not when client code calls `close()`.

[2018-03-12 14:37] #210 closed

[2018-03-12 14:44] aricart commented on #208
@zhaoyao91 we currently are constrained by node v4 capabilities. We are considering a version of the library that is transpiled for the different runtimes. This would  allowing clients and library developers work using current ECMAScript, but continue to target whatever runtime version they require.

[2018-03-12 14:44] #208 closed

[2018-03-12 15:09] aricart commented on #207
@StarpTech The quick answer is  _you cannot_.  Multithreaded environments support this feature because the subscription buffers incoming messages while handlers and i/o tasks execute.

In node, user code is single threaded. When a data arrives and node sends an event dispatched to the event loop of the application. That event will trigger parsing of the data, if a message is found it is then dispa

[2018-03-12 15:09] #207 closed

[2018-03-12 15:27] StarpTech commented on #207
@aricart thanks for the explanation.

Theoretically: When I scale up my subscribers in combination with a queue-group it doesn't prevent me from a stale process. NATS will cut off the connection and the client will remain in a broken state without any chance to come back in a clear state.

According to nats documentation:

so the best case is to restart the client in case of a socket "close" event

[2018-03-12 16:10] aricart commented on #207
@StarpTech if the server disconnects you, your reconnect logic should trigger. Outbound messages in the pending queue should be published. On reconnect, the client will resubscribe. You will lose any messages that were in-flight when you were disconnected.

[2018-03-12 16:13] StarpTech commented on #207
Yep, `disconnect` -> `reconnecting` -> `reconnect` event is fired, thanks!

[2018-03-12 19:35] GoekhanPolat opened #211 "Namespace '"tls"' has no exported member 'TlsOptions'."
Hi.
I am using
[code]
And When I run this app I got the error message"

When I change tls?: boolean | tls.TlsOptions to tls?: boolean | tls.TlsServerOptions,
Then It's working..
Please explain how to solve this problem in the default way.

[2018-03-12 20:03] aricart commented on #211
I am guessing that you are running into a transient issue. At some point in February, the typescript folks renamed `tls.Options` to `tls.ServerOptions`. That was quickly reverted. See https://github.com/nats-io/node-nats/pull/187. It is possible that the node-nats version you installed contained this transient value. Please update to v0.8.2.

[2018-03-12 20:03] #211 closed

[2018-03-12 21:21] GoekhanPolat commented on #211
I updated nats v0.8.2 and typescript to 2.7.1.
But still not working.
`{
    "private": true,
    "version": "0.2.0",
    "scripts": {
        "jest": "./node_modules/.bin/jest",
        "compile": "lerna exec -- npm run compile",
        "lint": "tslint ./packages/**/src/**/*.ts --exclude \"./packages/**/node_modules/**/*.ts\"",
        "publish": "lerna publish",
        "publish:force": "npm ru

[2018-03-13 02:59] aricart commented on #211
If you check
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/index.d.ts#L1749

the @types/node has the correct type. Likely your clamping for @types/node is getting you a bad dependency. Try to clamp @types/node to 9.4.7.

[2018-03-13 03:05] aricart commented on #211
@GoekhanPolat also you can take a look at the dependency you resolved by looking at your `node_modules/@types/node/package.json`

[2018-03-15 17:56] zpr opened #214 "0.8.6: TypeError: Cannot read property 'pingTimer' of undefined"
node_modules/nats/lib/nats.js:641:13

[2018-03-15 17:59] aricart commented on #214
@zpr  what version of the library?
In master the code looks valid.

[2018-03-15 18:00] aricart commented on #214
@zpr - Please attach a stack trace. Thanks.

[2018-03-15 18:06] zpr commented on #214
Just downloaded the master as the npm version is 0.8.4 not 0.8.6. Same issue in both.

TypeError: Cannot read property 'pingTimer' of undefined
    at Client.close (node_modules/nats/lib/nats.js:641:13)
    at Timeout._onTimeout (node_modules/nats/lib/nats.js:1355:13)
    at ontimeout (timers.js:458:11)
    at tryOnTimeout (timers.js:296:5)
    at Timer.listOnTimeout (timers.js:259:5)

node -v
v9.

[2018-03-15 18:21] aricart commented on #214
@zpr - Not quite sure how you are getting to close() when the client is null. Can you show me callbacks where you are calling `close()`.

[2018-04-02 23:34] aricart commented on #214
@zpr - No replies to the queries, so I am assuming the issue is resolved. If not please reopen and provided the requested information. Thanks.

[2018-04-02 23:34] #214 closed

[2018-04-03 11:22] StarpTech opened #218 "Create subscription object like in node-nats-streaming, go-nats"
As titled. This is much more developer friendly than to register and listen on global events.

This abstraction is already in use in [`go-nats`](https://github.com/nats-io/go-nats/blob/master/nats.go#L319) and [`node-nats-streaming`](https://github.com/nats-io/node-nats-streaming/blob/master/lib/stan.js#L574).
[code]
vs
[code]

[2018-04-03 13:19] aricart commented on #218
@StarpTech  - Thanks for the suggestion. Already working on a more modern client. Will incorporate feedback.

[2018-04-03 13:54] StarpTech commented on #218
@aricart possible to track your progress?

[2018-04-03 13:55] aricart commented on #218
Not yet.

[2018-04-20 11:36] cvlab opened #220 "Bad errors catch in documentation examples"
I think many of users, like me, will copy the code from documentation and we expect there to be very good code.

I propose to change from
[code]

to
[code]

[2018-04-20 14:38] cvlab commented on #220
Do you not see a logic error here, in documentation code? There can be **valid** response object with response.code === 'REQ_TIMEOUT' and it will be wrongly caught

[code]

[2018-04-20 14:46] aricart commented on #220
While presumably, you could have configured your client to send and receive JSON messages and in that use case, it is possible that the object would have a `code` property which could be a string and have the actual value of  'REQ_TIMEOUT'. If that is the case, effectively you already know what you are doing.

With that said, currently, I am working on the typescript version of the library which r

[2018-04-20 15:03] cvlab commented on #220
I agree with `if(err) { ... }`. But now, users need to look inside the code to find `NATS.NatsError`, I hope in documentation to be an example with `NATS.NatsError`. It will save time and there will be an official way to catch errors, that people will use and will be sure that will not change in future minor versions. Thank You!

[2018-04-20 15:11] aricart commented on #220
Yes, unfortunately, the current node-nats library mixes optional parameters with non-optional parameters making it difficult to address. Stay tuned!

[2018-04-24 03:40] zhangjian326 opened #221 "tls"
hi the tls must 1024 ? i make 512 is don.t work

[2018-04-24 03:44] zhangjian326 commented on #221
the client is error
Could not connect to server: Error: write EPROTO 101057795:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:openssl\ssl\s3_pkt.c:1487:SSL alert number 40
101057795:error:140790E5:SSL routines:ssl23_write:ssl handshake failure:openssl\ssl\s23_lib.c:177:

[2018-04-24 20:45] aricart commented on #221
@zhangjian326 - yes node is not happy with 512 bit keys even if the go clients are. Many have deactivated support for RSA and DSA keys that are shorter than 1024.  When testing the go client, it reported connecting with the  `ecdhe-rsa-aes128-gcm-sha256` cypher. This cypher is available on node.

[2018-04-24 23:06] Cherry opened #222 "TLS Incompatible with Node 10"
After updating to Node 10, we're seeing the following error when attempting to connect.

``` NatsError: Could not connect to server: Error: write EPROTO 15860:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:openssl\ssl\record\ssl3_record.c:210:```

I imagine this is likely due to the OpenSSL update in Node 10?

[2018-04-25 16:14] aricart commented on #222
Tried the following:

- setting the node flag `--tls-cipher-list` to the list of default ciphers `ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256`

- changing the `secureProtocol` option to all the various options

- changing `secureOptions` and to turn off SSLv3 in case that was the problem

- setting `ciphers` directly on the tl

[2018-05-05 21:56] aricart commented on #93
If values are not provided in request/reply or publish - the value is set to `null`.

[2018-05-05 21:56] #93 closed

[2018-05-09 17:48] Cherry commented on #222
@aricart Thanks for your work resolving this! Can this be marked as resolved now as of https://github.com/nats-io/node-nats/commit/a29570db32ed5cc90d2107851cc8e88ff255e685?

[2018-05-09 20:52] aricart commented on #222
@Cherry yes - but note the new node requirement - you have to be 4.5 or greater! - no release yet... Working on it.

[2018-05-09 20:52] #222 closed

[2018-05-18 03:28] Cherry commented on #222
Any ETA on a release for this? We'd love to bump our infrastructure to Node 10.

[2018-07-06 10:25] roytan883 opened #229 "Please setNoDelay(true) on socket"
After digging a weird [bug](https://github.com/moleculerjs/moleculer/issues/313), we found that `Nodejs` doc is wrong on Linux `setNoDelay()`, which is not use `true` by default.

At `node_modules/nats/lib/nats.js` Line 620, please add `this.stream.setNoDelay(true)`
[code]

also check this on nodejs issue [906](https://github.com/nodejs/node/issues/906)

[2018-07-06 14:08] aricart commented on #229
Did a quick test on a small cloud vm and found that performance indeed is a bit better on Linux. On other platforms (OS X) it actually is worse.

[code]

[2018-07-06 15:31] aricart commented on #229
Actually did some testing.
[code]

I am getting about 1ms roundtrip without doing anything. Setting the `setNoDelay(false)`, brings it to 38ms. So this must mean that at least on node 10, this value is set by default. Going to dig with more stats on different node versions.

[2018-07-06 16:00] aricart commented on #229
These are runs in the same tiny machine at AWS using node 10 and 6.
off - `setNoDelay(false)`
on - `setNoDelay(true)`
or without setting it on or off.

[code]

[2018-07-06 16:05] aricart commented on #229
I am going to discuss this with the team.

[2018-07-07 13:51] roytan883 commented on #229
Can you test it with Nodejs latest LTS v8.11.3 ?
We found this issue on version 8.11.x

Or expose a option `noDelay`  like `preserveBuffers`?

[2018-07-16 16:42] aricart commented on #229
Still not seeing any significant change. As you know we do our own buffering of messages which reduces the number of syscalls we do and yields much better performance.

[code]

[2018-07-16 19:09] #229 closed

[2018-07-17 04:06] roytan883 commented on #229
I think this issue is not about bench performance test.
Its about normal scenario sending two publish together, which lead latency.

Please check our [issue](https://github.com/moleculerjs/moleculer/issues/313) here, 3 person test it with different platform, all result that Linux very slow.

[2018-07-17 14:22] aricart commented on #229
The main issue is the number of system calls. The internal buffering takes care of that. The test should be simple:
- Subscribe to an event. The handler records the time.
- The 'connect' handler marks the start time and publishes an event.

The difference between the receive time and the start time is the latency, The way it is implemented, the first message will trigger the writing to the socket

[2018-08-14 19:09] doubliez opened #232 "Support for TLS termination at load balancer"
I'm experimenting with NATS and have set up gnatsd to run with TLS disabled behind an AWS ELB which does TLS termination.

It seems node-nats doesn't support this setup as it first opens a socket connection to the server, and initiates a TLS connection only if the server replies with `tls_required: true` in the INFO message.

I'm sure there's a reason why it has been implemented like that (I'm not

[2018-08-14 19:14] aricart commented on #232
@doubliez the NATS server does its initial connection as non-TLS and then upgrades. This is an issue with the server - see https://github.com/nats-io/gnatsd/issues/291

Effectively until the server supports it, you cannot use an ELB to load balance TLS configured servers.

[2018-08-14 19:14] #232 closed

[2018-09-11 20:59] the-nose-knows commented on #222
So what are we supposed to use in the meantime for the latest & greatest Node that actually supports TLS, @aricart ?

[2018-09-13 17:43] valichek opened #233 "Message stream broken on error in callback"
Exception thrown in callback will break all the following messages. The reason is that execution will stop at this line: https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L971, `client.pstate` will never changed and parsing of `client.inbound` will break.

[2018-09-13 18:03] StarpTech commented on #233
That's the typical behavior of synchronous errors in Node.js you have to `try/catch` it.

[2018-09-13 18:59] valichek commented on #233
@StarpTech sure it's typical, but the library is async, so I would try call callbacks async as well, maybe `setImmediate()` could be used here https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L1093 to fix this problem.

[2018-09-13 19:02] StarpTech commented on #233
I think I don't understand your case. Could you make a repro? Snippet?

[2018-09-13 19:06] valichek commented on #233
@StarpTech smth like
[code]

[2018-09-13 19:13] StarpTech commented on #233
As I expected this can't be fixed. You have to catch the error. It's by design that the lib doesn't catch the error for you.

[2018-09-13 19:39] valichek commented on #233
well, if using `setImmediate()` is not somehow a solution here, this should be documented, but it's really weird that one exception can break everything and be even harmful for the data

[2018-09-13 20:34] StarpTech commented on #233
What do you expect from `setImmediate()`? It will postpone the execution but will still throw the error asynchronously. It's your responsibility to write save code.

[code]

[2018-09-13 20:46] StarpTech commented on #233
@valichek For better understanding https://hemerajs.github.io/hemera/docs/error-handling.html

[2018-09-13 21:46] valichek commented on #233
@StarpTech the problem is not to catch error, problem is that not catched error will influence to all the received data and subscriptions. What if I don't want to catch it? This can be the case as well. This error will produce errors in other callbacks and it will be really hard to track the reason.

[2018-09-13 21:50] kozlovic commented on #233
I don't know enough Node.js to have a valuable input, but unless in Node if the library were to catch the error it would prevent the user to catch it, then the library should catch any error to prevent misbehaving user callback to cause the library to fail.

[2018-09-13 21:50] aricart commented on #233
@valichek if you don't catch the error the correct thing is for the library to fail. In the case of your subscription, the error may indicate that you were unable to process the message, how should the library interpret your error or exception? It really cannot recover for you because your intention may be to have the process fail or to continue, either excludes the other.

Effectively the problem

[2018-09-13 21:51] kozlovic commented on #233
@aricart I disagree.

[2018-09-13 22:01] aricart commented on #233
@valichek the only other possible solution is for me to catch the exception on your handler, and then send it right back to you via the error handler.

[2018-09-13 22:03] StarpTech commented on #233
@valicheck I understand your point but it's the same as with everything in Node.js e.g if you create multiple endpoints in express and you throw an error inside one your server will exit. That's the nature of the limited isolation.

[2018-09-14 06:34] valichek commented on #233
@aricart the problem here is that not just in-flight messages lost on error, all subsequent messages got by client will not be correctly parsed because `inbound` buffer is no longer valid after uncaught error

[2018-09-14 14:34] aricart commented on #233
@valichek agreed - the fix that I have put should address the problem by notifying you timely that an error happened, and not corrupting the processing of subsequent messages.

A bit of background:

 `processMsg` is called from a loop and the inbound buffer usually gets messages in batches. This means that the event loop will not return until the inbound buffer is fully drained, or the `yieldTime`

[2018-09-14 14:59] #233 closed

[2018-09-14 17:00] valichek commented on #233
@aricart yes, this is true about draining of the buffer, is it really a problem? is execution of callbacks supposed to be async or sync? currently execution of a callback depends on time of processing the previous message, looks a bit confusing, even if we assume that there are no real concurrency in node, anyway one can always wrap callbacks with `setImmediate()`

[2018-09-14 17:04] aricart commented on #233
Yes depending on the messages you effectively would continue processing and scheduling. On busy clients, I would not be surprised to see OOM or some other similar type of error.

[2018-11-01 06:16] minhnt95 opened #236 "Add some examples"
Demo for some messaging mechanisms of Nats.io:
- Simple pub/sub
- Request to many / reply
- Request to only one / reply
- Queue sharing

[2018-11-01 06:16] minhnt95 commented on #236
#235

[2018-11-04 14:19] StarpTech commented on #218
What's the status of your work?

[2018-11-05 15:14] aricart commented on #236
@minhnt95 have you looked at https://www.nats.io/documentation/writing_applications/subscribing and other patterns?

[2018-11-07 04:12] #236 closed

[2018-11-08 16:41] KClough commented on #222
FYI I'm seeing this same issue with Node 8.12.0

[2018-11-14 16:37] jeffrichiefs commented on #222
@aricart why is this ticket closed?

[2018-11-14 16:47] aricart commented on #222
@jeffrichiefs @KClough @the-nose-knows - can you be more specific of the problems you are having. The current version of node-nats and gnatsd are passing with https://travis-ci.org/nats-io/node-nats/builds/428650560 (just ran them on my system with v8.12.0 and v10.13.0. What gnatsd versions are you matching against?

[2018-11-14 16:49] aricart commented on #222
Also make sure your keys are bigger than 512. See https://github.com/nats-io/node-nats/issues/221

[2018-11-21 19:38] AnnapoorniS commented on #60
Is the change available for receiving the binary data at the subscriber end? I could see only string at nats sub. Is there a way to configure in latest code available?

[2018-11-21 20:07] StarpTech commented on #60
@AnnapoorniS I think you are looking for
[code]

[2018-11-21 20:50] AnnapoorniS commented on #60
Thanks! @StarpTech

[2018-11-29 14:17] praveen0051 commented on #222
Add only http proxy and this would solve the issue. Tls handshake seems the cause

[2018-11-29 15:37] Giancarlo1974 opened #237 "It's possible manage Long Running Worker using nats?"
I have to run a process that takes at least 20 minutes

I want to understand if nats is suitable for managing this idea:

- On the browser the user presses a button,
- Node Js Express sends a message to nats
- The worker listening on nats starts the process
- Every 5 seconds, the worker updates the job progress status
- On the browser, the user sees the progess bar

I found this article, which exp

[2018-11-29 15:41] aricart commented on #237
Control-plane management is the origins of nats. This is a perfect application for nats. Take a look at this https://nats.io/blog/webinar-nats-for-modern-messaging-and-microservices/

[2018-12-10 12:27] RomaOrlov opened #240 "Error on client.connect(url)"
[code]

[2018-12-10 12:45] StarpTech commented on #240
@RomaOrlov which node version are you using? `URL` was added in v7.0.0, v6.13.0, v10.0.0

[2018-12-10 13:10] RomaOrlov commented on #240
8 and 9. Thank you!

[2018-12-10 13:10] #240 closed

[2018-12-10 13:49] eonicle opened #241 "Release 1.2.0 contains backward incompatible changes"
Release 1.2.0 introduces use of [URL class](https://nodejs.org/api/url.html#url_url) (probably added [here](https://github.com/nats-io/node-nats/pull/239)), which leads projects using NodeJS version prior to 10 to break as described [here](https://github.com/nats-io/node-nats/issues/240). Shouldn't changes of this kind be at least implemented as major version? We have a lot of projects using this

[2018-12-10 13:51] derekcollison commented on #241
Thanks for the feedback. Let me take a quick look later today and see what we can do. Don't want to be breaking folks.

[2018-12-10 13:52] derekcollison commented on #241
Which version does it break? Node.js prior to version 8?

[2018-12-10 14:01] eonicle commented on #241
All versions prior to 10. I have projects on 8 and 9, and did some research on 6 and 7, which should work, but they actually don't:
[code]

[code]

[2018-12-10 14:09] eonicle commented on #241
It looks like the only place URL is used is [here](https://github.com/nats-io/node-nats/blob/43e2aca423bf2900ef6eb8ec54e095b9a0336d87/lib/nats.js#L372). So maybe only this function could be rewritten to use NodeJS default url module?

[code]

[2018-12-10 14:14] derekcollison commented on #241
Will take a look. Thanks again.

[2018-12-10 14:35] derekcollison commented on #241
ok fixed, will get @aricart to do a release at some point today.

[2018-12-10 14:35] #241 closed

[2019-02-11 14:17] JannikZed commented on #208
any news on this issue?

[2019-02-11 15:23] aricart commented on #208
@JannikZed take a look at https://github.com/nats-io/ts-nats

Cheers

[2019-02-12 16:33] aricart commented on #218
This is fixed in ts-nats, a version of the library that provides support for more modern javascript.

[2019-02-12 16:33] #218 closed

[2019-02-13 18:43] RameshRM opened #243 "Unable to connect to port `4222` with Docker"
Unable to connect to `nats server` running on docker with `localhost`

Monitoring port is running `http://localhost:8222` but not able to connect to port `4222` from another docker container , Any pointers?

[2019-02-13 19:11] RameshRM commented on #243
Example Code from the Container

[code]

[2019-02-13 20:53] aricart commented on #243
@RameshRM how are you running docker nats exactly, did you expose the ports to the host?
ie `docker run -p 4222:4222 -p 8222:8222 -ti nats:latest`

[2019-02-13 21:11] RameshRM commented on #243
Yes, i am running same like ur `docker run`

[2019-02-13 22:12] aricart commented on #243
For two containers to communicate, you are going to have to bridge their network stacks, take a look at: [https://docs.docker.com/network/bridge/](https://docs.docker.com/network/bridge/)

[2019-02-15 14:17] witq opened #244 "Port option overwritten by this.assignOption(opts, 'url')"
I noticed that the url generated if the port connection option is provided is immediately overwritten so in effect the port option is ignored. Is the port option deprecated? If not, I can submit a PR fixing this.

[2019-02-15 15:34] aricart commented on #244
@witq This works for me:

[code]

Can you show me what other options you have in your connection?

[2019-02-15 15:53] witq commented on #244
I'm actually using nats-streaming-server so it looks like this:
`
const stan = nss.connect('test-cluster', 'test-client', {
 port: 4223
});
`
I've noticed that nats-streaming-server does not pass this option to the nats client. I modified it to pass it and then noticed those few lines in nats.js:272:
`
if (opts.port !== undefined) {
            options.url = DEFAULT_PRE + opts.port;
        }

[2019-02-15 15:56] aricart commented on #244
node-nats-streaming is filtering some of the options. The 'port' option is kind of a ninja because it is not specifically named - it is possible the streaming library is not exporting it. Let me check.

[2019-02-15 16:10] aricart commented on #244
yes this is a node-nats-streaming issue.

[2019-02-15 16:15] witq commented on #244
My debugging skills must have failed me then. I guess I'll give it another go and submit a PR to node-nats-streaming 👋

[2019-02-15 16:16] aricart commented on #244
if you can open it, that would be awesome. I have a branch you can test.

[2019-02-15 16:45] aricart commented on #244
this is now fixed master on node-nats-streaming.

[2019-02-15 16:45] #244 closed

[2019-02-21 21:59] sateffen opened #245 "node-nats vs ts-node"
Hey,

I've got a question regarding this repository and [ts-nats](https://github.com/nats-io/ts-nats): Why are there 2 clients, that fulfill the same duty, for the same platform?

node-nats is basically a javascript client for node, while ts-nats is a typescript client for node, whereas typescript is transpiled to javascript. Now I'm a little confused, whether one of the clients is discontinued or

[2019-02-21 22:04] sateffen commented on #148
This is already solved [in the code](https://github.com/nats-io/node-nats/blob/master/lib/nats.js#L365) by [this commit](https://github.com/nats-io/node-nats/commit/2808452ea6264300b5353f8f92eced431b9c5df3), so this issue should be closed I guess.

[2019-02-21 22:06] aricart commented on #148
@sateffen thanks

[2019-02-21 22:06] #148 closed

[2019-02-21 22:27] sateffen commented on #243
The main problem is line 15 `'url': "nats://0.0.0.0:4222"` as connection URL, as you can't connect to a broadcast IP.

If your service should listen to all networks, you use `0.0.0.0` as bind-IP to listen on all networks, but when you want to connect to the corresponding server/container, you need to address it with its actual IP. As soon as you use the actual IP as connection URL, you'll be able

[2019-02-21 22:40] StarpTech commented on #245
Answered here https://github.com/nats-io/ts-nats/issues/15

[2019-02-21 22:41] aricart commented on #245
@sateffen thanks for the question. The typescript client is intended to expose a more modern JavaScript programming model. Also, the internals for the transport is pluggable which will allow other forthcoming implementations to work without requiring supporting a completely different client.

The idea is once the ts-nats client becomes more mature, to deprecate the node-nats client (or replace the

[2019-02-21 22:41] #245 closed

[2019-02-25 09:27] jorispz opened #246 "Typings don't support publishing objects"
When automatic JSON conversion is enabled, one would want to use the `publish` function like
[code]
However, the current Typescript signatures of the publish function do not support this:
[code]
Instead, they should be
[code]

[2019-02-28 15:55] howardengelhart opened #248 "Support for SRV record types"
I ran into this when attempting to run a nats server in an ECS service using Host networking.  If you use the Service Discovery feature to publish the network address of the nats server so it can be reached by name from other ECS containers, AWS currently only supports SRV record types, which map host + port.  This appears to break the ability to configure a connection using this library.

The cur

[2019-02-28 23:05] #246 closed

[2019-03-05 13:52] haywirez commented on #24
Is there any way to handle queues using async functions? I have a bunch of asynchronous tasks that I'd like to have resolved before processing the next item in the queue.

[2019-03-05 14:05] StarpTech commented on #24
Hi, I think you are looking for the modern gnats client https://github.com/nats-io/ts-nats

[2019-03-06 13:29] haywirez commented on #24
@StarpTech thanks for the link, but I'm rather looking to figure out whether there's a way to use Promises/async functions in queue group subscribers, in order to await a task to finish before ingesting the next message. Something like:
[code]

[2019-03-06 13:37] StarpTech commented on #24
@haywirez I think you are looking for an [async-generator`](https://zaiste.net/nodejs_10_asynchronous_iteration_async_generators/) implementation. That would be a great improvement but it's limited to Node 10.

[code]

[2019-03-06 13:40] StarpTech commented on #24
@haywirez that's up to you. You can use https://github.com/delvedor/workq to buffer your work with a limited concurrency level.

[2019-03-07 17:36] aricart commented on #24
The main issue here is that the inbound queue will be growing - depending on the rate messages are coming in, the memory will grow. Sounds to me that messages should be collected and then played back at a worker's pace - take a look at https://github.com/nats-io/nats-streaming-server

[2019-03-10 11:25] arnulfojr opened #249 "Support for multiple IPs in a A/AAAA DNS record"
[Idea|Proposal]
So currently, nats uses the `net` package to create a TCP connection to the (NATS) server.
The current implementation basically takes the first IP from the domain name and uses it to create a TCP connection.
For users that can’t implement different loadbalancing techniques through the DNS, using the first IP from the record is kind of a bummer and kind of forces the servers to have

[2019-03-10 21:46] derekcollison commented on #249
We do this for the Go client now so this will probably make sense.

[2019-03-19 16:02] aricart opened #251 "NAT-01-008 node-nats: DoSe via malicious JSON structure (low)"
The NodeJS client can define that any message payloads are converted from/to JSON.
This is achieved by setting `json` parameter to `true` in the `connect` function. It was
discovered that a possibility to trigger an exception nevertheless exists and can lead to a
crash of the client. This is triggered by sending an object which overwrites the toString
function with a string. As soon as the receive

[2019-03-19 16:04] aricart commented on #251
JSON doesn’t allow code injection. However, in NAT-01-008 particular case, the issue is that a well-known method of all objects (“toString”) is usurped as a property with a value that is NOT a function (string, number, array, object, boolean, null).

If user code tries to use the value by appending such as appending with the `+` operator, a `Cannot convert object to primitive value` is raised.
Her

[2019-03-19 16:05] #251 closed

[2019-03-19 16:28] ColinSullivan1 commented on #251
For further reference, NAT-01-008 is the low priority item referenced in the [cure53 NATS security audit](https://github.com/nats-io/nats-general/blob/master/reports/Cure53_NATS_Audit.pdf).

[2019-03-22 00:17] #249 closed

[2019-03-22 00:20] aricart commented on #248
Added an example on how to do this. I don't believe that this should be part of the API, but definetly some clients will want to have the code to augment a single nats url with resolution from A/AAA/SRV records.

FIX #252

[2019-03-22 00:20] #248 closed

[2019-03-22 00:21] aricart commented on #249
See https://github.com/nats-io/node-nats/blob/master/examples/expander

[2019-03-22 00:21] aricart commented on #248
See https://github.com/nats-io/node-nats/blob/master/examples/expander

[2019-03-22 00:46] howardengelhart commented on #248
Thanks for the example @aricart.

[2019-03-25 14:44] arnulfojr commented on #249
:D this does not seem like support from your side :D but thanks for the example tho!

[2019-03-26 21:56] aricart opened #255 "node-nats leaves ping timer out when disconnected triggers a close"
stream.on('close performs the logic on whether to fire the close event, but it doesn't clean ping timeout.

[code]

[2019-03-26 23:15] aricart opened #256 "node-nats can leave request timeouts active after closing"
node-nats is not cleaning up request timeouts.
On close, all request timeouts should be canceled:
[code]

[2019-03-26 23:19] aricart commented on #256
Or for that matter subscriptions that specify a timeout.

[2019-03-27 22:23] aricart opened #257 "disconnect should only be notified if the current connection fails"
Currently, as the node-nats tries to establish a connection, the stream handler notifies of a disconnect even when the client was not able to connect.

[2019-03-28 16:14] #255 closed

[2019-03-28 16:14] #256 closed

[2019-03-28 16:14] #257 closed

[2019-03-28 21:59] #157 closed

[2019-03-28 22:00] aricart commented on #170
ts-nats has a more efficient parser that is pluggable.

[2019-03-28 22:00] #170 closed

[2019-03-28 22:05] aricart commented on #80
Closing this issue, currently, this doesn't line up with any of the existing clients, and while cumbersome handling the connect/disconnect/reconnect handlers should provide enough state to the client to disable publishing of messages while the nats client is disconnected.

[2019-03-28 22:05] #80 closed

[2019-03-28 22:06] aricart commented on #129
The transport is externalized in ts-nats, and likely it is possible to create an implementation there that will do the needed.

[2019-03-28 22:06] #129 closed

[2019-03-28 22:07] aricart commented on #154
We have very nice docs on https://www.nats.io/documentation/writing_applications/connecting which show side by side client languages.

[2019-03-28 22:07] #154 closed

[2019-03-28 22:10] #221 closed

[2019-03-28 22:10] #243 closed

[2019-03-29 17:49] aricart opened #259 "`noEcho` needs implementation"

[2019-03-29 19:53] #259 closed

[2019-04-07 00:06] shedar opened #261 "Typings don't support publish(subject, message) call"
Basic usage example is not supported by typings
[code]

In the commit fixing #246, reply was made mandatory https://github.com/nats-io/node-nats/commit/70a055d993b2c0e2bd052cb7e3b732143871f138#diff-b52768974e6bc0faccb7d4b75b162c99R117 and thus it can't be applied to the above call

[2019-04-07 17:54] derekcollison commented on #261
Thanks, I think this is a regression. @aricart will take a look.

[2019-04-08 22:48] #261 closed

[2019-04-10 07:03] nseba opened #263 "requestOne missing return type annotation"
The typings for version 1.2.8 are missing return type annotation on the `requestOne` methods. This is causing build failures when using the `noImplictAny` Typescript flag:

error TS7010: 'requestOne', which lacks return-type annotation, implicitly has an 'any' return type.

[2019-04-10 18:44] #263 closed

[2019-04-17 14:09] andriy-bulynko opened #265 "port tokenHandler callback from go-nats"
In some use cases auth tokens might have expiry (like JWTs). In those cases, it would be nice to have a mechanism to ask for a new token before using it for authentication. `go-nats` already had that functionality added. It would be great to make `node-nats` feature compatible.

[2019-04-17 14:36] aricart commented on #265
@andriy-bulynko thanks for the PR - one issue I see is we don't use Promises anywhere on node-nats. Also, if you look we seem to have an ever-growing number of options for providing authentication - with the upcoming 2.0 nkeys, jwts, credential files, etc, we have a lot of handlers. I am starting to think that really what we should do is provide a connection option that takes a function and return

[2019-04-17 15:33] aricart commented on #265
@derekcollison wdyt?

[2019-04-17 15:42] derekcollison commented on #265
We need to look at more proactive re-authentication.

The Go client will read in the credentials files (new NATS 2.0 style security) such that the connection can be reestablished with the new credentials just by updating the file, but the connection will still be dropped by the server. We will do this work post 2.0.

[2019-04-17 15:48] aricart commented on #265
@derekcollison this is actually already implemented for the new authentication methods - jwt and creds, etc auto re-request the authentication configuration before connect.
A more general solution could be to allow clients to provide a function that return an auth options object that is refreshed for every connection.

[2019-04-17 16:00] derekcollison commented on #265
@aricart yes I remember, I wrote it ;)

What I mean is we are not proactive about expirations.

[2019-04-17 16:02] aricart commented on #265
lol

[2019-04-19 15:12] andriy-bulynko commented on #265
@aricart: Some callback before the connection to refresh the credentials would be extremely useful. Also, where could I read up on the upcoming planned JWT support you alluded to? Currently, we are already using `tokens` to pass JWTs, which is why we need a mechanism to refresh them.. Thanks!

[2019-04-22 14:07] aricart commented on #265
@andriy-bulynko the changes are on master and currently in production on our ngs service (see https://www.synadia.com/ngs).

You can read about some of the underlying tech in:
https://github.com/nats-io/jwt
https://github.com/nats-io/nkeys
https://github.com/nats-io/nsc

The nkey/jwt authentication effectively supersedes all the other mechanisms.
Docs and visibility of the functionality will show

[2019-04-22 15:46] #265 closed

[2019-04-30 19:54] aricart opened #269 "Localhost added to 'servers' list unnecessarily"
https://github.com/nats-io/node-nats-streaming/issues/106

[2019-04-30 20:10] aricart commented on #269
Added a test to verify we are not somehow adding a localhost entry when only servers is provided. No issue from the nats client.

[2019-04-30 20:10] #269 closed

[2019-05-21 10:08] FlightToFreedom opened #274 "Client parser error, interpreting state=26"
I am sending a curl -X POST request to my running nats server on a kubernetes pod.
Server version: 1.2.0
The payload contains valid JSON:
`curl -d@postMockRequest.txt -X POST nats.test.svc:4222 --trace-ascii debugLog.txt`
Where `postMockRequest.txt` contains valid JSON (validated with json-spec on Ubuntu machine  and 2 online validators)
The response i get is:
`[7] 2019/05/21 09:18:12.727531 [ERR]

[2019-05-21 10:09] #274 closed

[2019-06-15 16:49] cawoodm opened #279 "Support Objects by Default"
IMHO natsJS should support objects by default. This is JavaScript everything is an object - passing them around should just work. As things stand you could have members (listeners) with or without `var nats = NATS.connect({json: true});` and this would break things. Is there any specific reason for not supporting json by default?

[2019-06-17 12:12] aricart commented on #279
@cawoodm if all your clients are javascript this makes sense. However the NATS ecosystem is payload agnostic.

[2019-06-17 12:12] #279 closed

[2019-06-17 22:03] aricart opened #280 "add -queue flag to nats-sub"
The doc https://nats-io.github.io/docs/developer/tutorials/queues.html#4-install-and-run-the-node-client-subscriber-with-queue-group-name is wrong, but we should have a queue name option on the subscriber and fix the doc to match.

[2019-06-19 23:44] KoryNunn commented on #274
@FlightToFreedom Did you figure out what the issue was here?

[2019-06-19 23:49] aricart commented on #274
@KoryNunn NATS has it's own protocol, he was making an HTTP request which with headers and all that is completely invalid for NATS.

[2019-06-20 08:21] KoryNunn commented on #274
We were seeing the same error message, which went away when we updated to the latest docker image.

[2019-06-20 09:00] FlightToFreedom commented on #274
Hi Kory,
I was indeed unaware that NATS does not accept HTTP request, so i created a webhook in kotlin that uses a [https://static.javadoc.io/io.nats/java-nats-streaming/2.1.1/io/nats/streaming/StreamingConnection.html](StreamingConnection) to comunicate with Nats, i now send my Curl messages to the webhook specifying the subject and the NatsStreamingConnection object within the webhook takes care

[2019-06-26 13:33] skyr1der opened #282 "Lack of documentation on callback parameters"
I figure myself there was 4 parameters on suscribe callback,
readme file show only 2 of them (msg and replyId)
Can you add channel ans sid to the documentation please ?

[2019-06-26 13:37] Zhuull opened #283 "Update documentation ?"
I think you should update documentation for subscribe callbacks.

I was trying to find a way to retrieve the subject name in a subscribe callback, but I didn't find it..
Until I realized that the callback can take 4 arguments :
- response
- replyTo
- channel Name
- subscribe id(?)

Readme.md show us a maximum of 2 argument.
I don't know if this is specified somewhere, but I definitely can't find i

[2019-06-26 13:39] #282 closed

[2019-06-26 13:41] skyr1der commented on #282
See #283

[2019-07-19 11:30] cgebe commented on #139
In face of NATS version 2 and the planned websocket connectivity, is there also a desire to implement the appropriate client functionality in this repo for browser usage?

Right now, we use https://github.com/isobit/websocket-nats , however it is not maintained anymore (we had to change stuff of this client in the past already). Especially due to the fact that we are switching to the new authentic

[2019-07-19 22:59] aricart commented on #139
The idea is a different repo.  We have an implementation that is waiting on direct websocket support from the server. The API is almost identical to the nats.ts client.

[2019-07-20 12:56] cgebe commented on #139
That's great! Thank you very much, appreciate your work!

[2019-08-17 12:52] oliverhausler commented on #139
@aricart https://github.com/isobit/websocket-nats says "Copyright (c) 2011-2015 Derek Collison" so this repo seems to be from you guys somehow. What's the reason why it isn't part of the NATS system. Does it have drawbacks, are there hidden issues? Or only the fact that it requires a proxy?

You're talking about "direct websocket support from the server". Is there an ETA?

Would be cool if you cou

[2019-08-17 13:05] derekcollison commented on #139
The copyright was copied but this is not our work. We understand the community is looking forward to ws support and we plan on providing that support, hopefully this year. There are third party alternatives, as the one you highlighted, that can be used today with a proxy of some sort.

[2019-08-17 13:19] oliverhausler commented on #139
@derekcollison Thanks. I don't see a repo yet, so commenting here:

When you add ws support to the server, it would be very useful if there was an auth handler for accepting cookies. Problem with web is that any auth token can be stolen, but the cookie is sent by the browser so harder to fake.

Note that the cookie cannot be used for identifying the connection as there may be multiple browser tabs

[2019-08-17 15:39] derekcollison commented on #139
Security for webclients will be something we need to sort out for sure. NATS 2.0 has done away with username and passwords but the web is still not there for the most part.

[2019-08-17 17:33] oliverhausler commented on #139
Problem seems to be that cookies are not sent by some browsers over wss. Also, CORS is an issue here. What we do is our clients make a REST call where the server receives the cookie and authenticates the client [could be `nats-account-server`]. Server returns a time-limited JWT which we use in wss as query param. Avoids CORS and lets the server pre-check the JWT **before** the actual socket is est

[2019-08-18 18:55] derekcollison commented on #139
Thanks!

[2019-09-03 15:19] andriy-bulynko opened #289 "Incorrect handling of the permission errors"
After the `permission_error` is handled, the `inbound` buffer is not cleared and all subsequent data appended to that buffer is ignored.

After @aricart 's explanation changing this to: after 1 `permission_error` is encountered, all subsequent buffer reads result in `permission_errors`.

[2019-09-03 20:09] aricart commented on #289
@andriy-bulynko - Not clearing the inbound buffer is the correct behaviour. Can you explain why you think that it ought to be cleared? I can think of many reasons why it shouldn't as the inbound buffer could contain many many messages that the client shouldn't have to loose.

[2019-09-03 22:11] andriy-bulynko commented on #289
@aricart I updated the title and description to more accurately describe the problem I saw versus what I (wrongfully) thought would be its solution. Please see the related changes in the linked PR. Thanks!

[2019-09-04 16:21] #289 closed

[2019-09-04 20:22] aricart opened #292 "Argument handling"
#286 contribution (thank you @basti1302)  pointed out that argument handling is currently too loose. That contribution addressed `publish`, but the same type of defect is apparent also on `subscribe`, `request`, etc.

[2019-09-05 17:29] aricart commented on #283
This is addressed by #294 in the README

[2019-09-05 17:29] #283 closed

[2019-09-24 15:16] noguilty4you opened #296 "Mistake in .requestOne() method when type of "msg" (the second arg) is Number"
Hi guys, it looks like you have created 3 different interfaces for .requestOne() method, but the longest of them (node_modules/nats/index.d.ts:182) works incorrect.

### Issue
When we provide a non-empty String or any Object, it works fine, but if we provide any Number, it causes an unexpected behavior.

nats.js version: 1.3.0
node version: 12.4.0
npm version: 6.11.3
OS: macOS 10.12.6

### Code to

[2019-09-24 19:58] aricart commented on #296
@noguilty4you thanks for the report. I have a fix up for review. I will release as soon as that gets merged.

[2019-09-24 19:58] #296 closed

[2019-09-24 22:24] #292 closed

[2019-09-25 22:41] noguilty4you commented on #296
@aricart , thanx you for quick reaction

[2019-10-07 14:34] #280 closed

[2019-10-07 18:01] rohit-ravikoti opened #299 "Ability to acknowledge messages manually"
Hello!
I was wondering if the Node.js version of the NATS client has the ability to acknowledge messages manually as mentioned in the docs [here](https://nats-io.github.io/docs/developer/streaming/acks.html).

[2019-10-07 18:43] StarpTech commented on #299
I think you are talking about Nats Streaming NOT Nats.
Here is the client lib for nats-streaming https://github.com/nats-io/stan.js

[2019-10-07 20:17] rohit-ravikoti commented on #299
ah got it. Thank you!

[2019-10-07 20:17] #299 closed

[2019-11-14 20:26] derekcollison commented on #249
Hey @aricart any reason we should not add this into base like we do with Go client?

[2019-11-27 14:16] chainhead opened #301 "Connecting to NATS on OpenShift cluster"
I was able to deploy the NATS Docker image to an OpenShift cluster. Then, I created a route for the resulting service. This route can be accessed by external clients at e.g. `http://<route name>.<host name>`. (Yes, port `80`.)

This did not connect -

[code]
How do we connect?

[2019-11-27 17:51] derekcollison commented on #301
NATS has its own protocol that goes over TCP, not HTTP. You will need to connect directly to the server, or at least have layer 4 aware router/load balancer.

[2019-11-27 17:51] #301 closed

[2019-12-13 11:16] fosk06 opened #302 "Missing properties in typescript types definitions"
Version of the module : 1.3.2
the "ClientOpts" interface exported in the file  "index.d.ts"
Is missing the properties to use the Nkeys and User Credentials.
Theses properties are:
- "nkey": to set the nkey
- "sigCB": for the sign callback
- "userJWT" to set the static JWT

[2019-12-13 15:34] aricart commented on #302
@fosk06 thanks for the catch. I have updated the typescript definitions as well as normalized the official names - `signCB` is `nonceSigner`. Also if you are using typescript, the typescript client has a more concise api - see https://github.com/nats-io/nats.ts

[2019-12-13 16:13] fosk06 commented on #302
Thanks for the quick fix!
I've opened this request because there is some typescripts module using the js version of the module, for example this [one](https://github.com/nestjs/nest/blob/master/package.json) .
I know it's weird but they did use the JS version instead of TS one

[2019-12-13 16:13] #302 closed

[2019-12-16 13:10] aricart commented on #302
@fosk06 glad to get the heads up. BTW awesome - Nest using nats.js! - I love nest, have it in all my homes.

[2019-12-16 13:36] fosk06 commented on #302
i think you have a confusion between nest, the products/company recently bought by Google and "Nest.js", a typescript framework :)

[2019-12-16 13:45] aricart commented on #302
oops.

[2020-01-07 11:17] jason-magnetic-io opened #304 "Examples fail after ES6 linting"
Using the `node:lts` docker image
[code]
The same issue affects:
- `examples/node-pub`
- `examples/node-req`
- `examples/node-sub`

This is because the `#!/usr/bin/env node` shebang needs to be on the first line of the script.

Otherwise, the file is interpreted use `/bin/sh`.

Making `#!/usr/bin/env node` the first line fixes the issue.

[2020-01-07 11:35] jason-magnetic-io commented on #304
The issue was introduced by https://github.com/nats-io/nats.js/commit/7a76f396f1b91158743344e62b45f3033ffa1549

[2020-01-07 20:46] #304 closed

[2020-01-19 11:18] labsvisual opened #309 "NATS#connect - specify socket timeout options [Feature Request]"
## Introduction
The `NATS.connect()` method, when given an unreachable IP address, times out after the default 120s (2 minutes). However, this time period is too long for constantly changing microservices and their respective upstream NATS transporters. There should be a way for a client to specify the timeout manually as a property to the options passed to the `.connect()` method.

## Rationale
I

[2020-01-19 12:34] labsvisual opened #310 "NATS#connect - missing error handling for offline TLS options' verification [Bug]"
## Introduction
When TLS options are specified under the `tls` key, the NATS client attempts to open a [`tlsSocket`](https://nodejs.org/api/tls.html#tls_class_tls_tlssocket).

If the provided options are invalid as is the case in the following examples, there is no error handling which warrants Node to emit a `unhandledException` event which can be dangerous for the consumers.

1) if the `key` doe

[2020-01-19 14:41] derekcollison commented on #310
Extremely well articulated! What a great report.

Will have @aricart weigh in but a PR would be great.

[2020-01-19 14:52] labsvisual commented on #310
Wanted to include absolutely everything I could so even if we put this on a back burner, the contributor - at that point in time - has everything required to patch the bug. I am glad it checked the boxes required! 😃

---
Already started the PR; will submit it posthaste. 💯

[2020-01-19 15:13] derekcollison commented on #310
Very well done! Thanks.

[2020-01-19 22:15] labsvisual commented on #310
@derekcollison, @aricart - should we close this and move the discussion to https://github.com/nats-io/nats.js/pull/311?

[2020-01-20 13:32] aricart commented on #310
@labsvisual yes, already merging your PR into master!

[2020-01-20 13:33] #310 closed

[2020-01-20 19:02] aricart commented on #309
@labsvisual @derekcollison actually afaik, the socket timeout is infinite on a node application. The socket api, actually provides a setTimeout(ms), that then can listen for a `timeout` event.

This is completely reasonable as an ask (never mind that likely we should then have a similar option on all clients), but I am wondering how useful it is since the same can be achieved with regular code, wh

[2020-01-20 19:09] labsvisual commented on #309
You are absolutely right; the socket object does **not** provide you with a way to modify the connect or handshake timeout. The same behavior _can_ be achieved with the code both of us provided, but I am thinking from the perspective of a client.

Thinking in terms of semantics and error handling, this is technically an error (a `CONN_ERR`, to be precise); my ask relates to the inherent ability wi

[2020-01-20 19:41] derekcollison commented on #309
I think we should add it as an option to connect.

[2020-01-20 19:54] aricart opened #313 "Some error codes are not exposed in the index.d.ts"
See https://github.com/nats-io/nats.js/pull/311

[2020-01-20 19:56] aricart commented on #313
@labsvisual this fixes missing codes not exported to typescript.

[2020-01-20 19:58] labsvisual commented on #313
Perfect; on to something else! 😄

[2020-01-20 19:59] labsvisual commented on #309
@aricart - what do you say?

I can start with the PR if you want?

[2020-01-20 20:09] aricart commented on #309
@labsvisual - already have it ready :)

[2020-01-20 20:39] #313 closed

[2020-01-22 20:33] #309 closed

[2020-01-22 20:36] aricart commented on #309
@labsvisual I have published this new option, on the next release channel. To get it simply `npm install nats@next`.

[2020-01-26 15:34] icebob opened #316 "Changelog for 1.4.0"
Hi,

could you provide a changelog for the latest 1.4.0 version? I didn't find it.

Thanks!

[2020-01-28 13:42] aricart commented on #316
https://github.com/nats-io/nats.js/releases/tag/v1.4.0

[2020-01-28 13:42] #316 closed

[2020-01-28 13:56] aricart commented on #316
My bad, the draft was not pushed!

[2020-01-28 14:23] icebob commented on #316
Thank you 👍

[2020-01-28 22:34] matthiashanel opened #318 "behavior of maxReconnectAttempts does not match go client"
The go client counts reconnect attempts per server it knows about. Say the client knows about 3 servers and max reconnect attempts is 2. The client will attempt to connect each server twice and perform a total of 6 connect attempts.

This is in contrast to, the js client and presumably java client. They behave like this (excerpt from doc, will change)
Applications can set the maximum reconnect att

[2020-01-29 00:08] matthiashanel commented on #318
Checked other clients too. (java as expected.)
https://github.com/nats-io/nats.java/issues/288

[2020-01-29 02:20] derekcollison commented on #318
Thanks @matthiashanel

[2020-01-29 22:12] matthiashanel opened #319 "sleeps for reconnectTimeWait on every reconnect. this differs from other clients"
Other clients look at time since last connect attempt to decide wether to delay or not.

https://github.com/nats-io/nats.js/blob/54d7e730eeb9be0f2701433a33cf2e1810179558/lib/nats.js#L2188-L2195

[2020-02-05 19:08] matthiashanel opened #321 "on reconnect, unsubscribe(max-received) is not re-sent"
in go, on reconnect, a subscription with a limit is followed up by unsubscribe(max-received)
This can cause unnecessary traffic and unnecessarily dropped messages in queue subscribers.

https://github.com/nats-io/nats.js/blob/54d7e730eeb9be0f2701433a33cf2e1810179558/lib/nats.js#L1095-L1111

in Go:
https://github.com/nats-io/nats.go/blob/93a68d7e795f11c0aa30cfa38cf9a4702ae8d8b7/nats.go#L3591

[2020-02-06 22:42] aricart opened #323 "remove scanning of PUB message on reconnect, as the pending buffer is dropped on disconnect."

[2020-02-11 15:22] #321 closed

[2020-02-11 15:27] aricart opened #326 "subscriptions sids start at 2 rather than 1"

[2020-02-11 22:34] matthiashanel commented on #326
LGTM

[2020-02-11 22:34] #326 closed

[2020-02-11 22:46] #318 closed

[2020-02-11 22:46] #319 closed

[2020-02-25 00:33] #323 closed

[2020-03-14 19:22] kaitlynbrown opened #332 "Help troubleshooting connection timeouts"
I have an electron app used by a number of clients to connect to our service.

The electron app sends http requests to our API using axios and connects to our NATS server using stan.js (I'm asking the question here however since stan.js is just a wrapper around nats.js, and the issue definitely isn't in the stan.js library).

In our internal testing of the app, we haven't encountered any connectio

[2020-03-15 14:30] aricart commented on #332
@kaitlynbrown unfortunately, the default `maxReconnectAttempts` for the stan nats.js client is set to infinite (`-1`), which means the client is not giving up and giving an error we can see. It will simply disconnect and repeat whatever it did. If there's only one nats-server and it didn't get to exchange additional cluster URLs, it will not learn about other nats-servers it could connect to.

- D

[2020-03-16 20:49] kozlovic commented on #332
@kaitlynbrown Also, you assumes this is not STAN, but make sure that you are not getting a timeout due to the fact that the STAN connect times out because it does not receive the response from the server. A common cause is that the user provides the incorrect "cluster ID" as a connect option and the running STAN server(s) do not get the request (since the cluster ID is part of the subject space).

[2020-03-23 23:15] aricart commented on #332
@kaitlynbrown I have not heard from you about this issue. Were you able to solve the issue?

[2020-03-23 23:42] kaitlynbrown commented on #332
Not yet. I have been focused on other, more important tasks for now, as this issue is only affecting a single client - we've added a workaround for that one client to use. I'm hoping to have time to look into this issue more this week, however. Apologies for the delay in response

[2020-03-24 18:09] CaptainYarb opened #336 "1.4.6 Release errors"
When sending basic requests we get constant errors when pushing large volumes of data constantly.
[code]

Using code

[code]

From what we can tell the issue can take a couple of minutes to propagate. Something in the sending buffer creates a problem we have had since `1.4.2` was in beta. We are still investigating...

[2020-03-24 22:09] aricart commented on #336
The issue seems to be related to a timer triggering after `closeStream()` is called (which nullifies the inbound buffer. When the timer triggers and the client attempts to publish, the client hasn't yet reset the pending buffer.

[2020-03-25 01:22] CaptainYarb commented on #336
That PR has worked on our dev builds just fine. Thanks for the quick fix!

[2020-03-25 14:43] #336 closed

[2020-03-26 23:12] kaitlynbrown commented on #332
We ended up deciding to switch to websockets since nats was causing too many headaches, and websockets are more versatile anyway. The client that was unable to connect via nats has no problems connecting on websokets, so I don't really have any way of testing / troubleshooting this issue any more. You can go ahead and close it if you like. Apologies if I wasted any if your time.

[2020-03-27 18:47] #332 closed

[2020-03-27 18:48] aricart commented on #332
@kaitlynbrown sorry we were not able to resolve this issue for you.

[2020-03-27 18:52] aricart commented on #332
@kaitlynbrown We identified a timeout issue with a recent nats.js release. However, the client you used for stan (assuming v0.2.6) didn't have this issue.

[2020-03-28 07:55] boomfly opened #341 "Durable subscription"
Please help!
Does this lib support Durable subscriptions and please give me example?
https://docs.nats.io/developing-with-nats-streaming/durables
I can't find it in docs and source code.

[2020-03-28 08:24] ripienaar commented on #341
You need to use https://github.com/nats-io/stan.js

[2020-03-28 11:49] boomfly commented on #341
@ripienaar Thanks!

[2020-03-28 11:49] #341 closed

[2020-04-03 11:01] kurbar opened #342 "TLS connection fails with TLS handshake error: EOF on server"
I generated a CA, key and cert using openssl and configured my NATS server to use them as well as my Node client.

Certificates are mounted through Docker volumes.

On server:
[code]

And on client:
[code]

However it fails on server with:
[code]

And my Node application reports:
[code]

I tried generating separate `client.crt` and `client.key` based on `ca.crt` but gave the same error.

Using nat

[2020-04-03 11:01] #342 closed

[2020-04-03 11:02] kurbar commented on #342
Completely my error. `rejectUnauthorized: false` was missing for self-signed. Please delete this issue.

[2020-04-15 06:41] karliky opened #344 "Basic usage examples doesn't work"
Hi all,

First of all, thanks for creating this library.

I tried to execute the examples under the basic usage section: https://github.com/nats-io/nats.js#basic-usage and I found some problems:

- If you copy/paste the example, it doesn't work as the `.close()` is called and there is no enough time to process the messages. The script will terminate and it will not show anything on the stdout. Wra

[2020-04-17 20:31] aricart commented on #344
@karliky thanks for pointing out the defect in the README. sometimes we err when write the documentation or as it evolves we fail to test the snippet and this type of error shows up.
The correct implementation is the last one, where the subscription is registered before the request is made.

[2020-04-17 20:35] aricart commented on #344
This issue is actually present in quite a bit of our repositories. The misleading part is that it looks like a program, but really what it is doing is illustrating the API usage, the ordering is incorrect if you were to run it as an example. Thanks again for pointing this out.

[2020-04-22 21:58] aricart opened #347 "servers provided via options are not sanitized"
The URLs provided via the server options are not sanitized, so host:port type strings will fail.

[2020-04-23 16:56] #347 closed

[2020-05-28 06:05] chenxyzl opened #354 "hope nats suport deno"
[deno](https://github.com/denoland/deno) is here。

[2020-06-01 04:32] hungrymike opened #355 "Request / Reply clarification"
Could someone clarify the RequestOne versus Request with Max: 1 a bit further.

Say there are 2 subscribers on ex "logs" and a request is being made for a find/get. Would both subscribers try to reply - and only the fastest end as the response?

Basically we want to have multi instances of services - and we only want one of the services/subscribers to reply/respond. Otherwise, creating and updatin

[2020-06-01 11:07] derekcollison commented on #355
Yes you would only receive one response.

A common pattern we recommend if tail latency is a concern is that writes go to a subject that has many queue subscriber, meaning only one gets the message, but reads go to plain subscribers and the requestor gets the first response which is the fastest.

[2020-06-01 12:58] hungrymike commented on #355
Thanks for the swift reply. I completely missed the queue groups.

So if you send a message to a subscription with a queue group then the max: 1 is actually irrelevant?

[2020-06-01 13:15] derekcollison commented on #355
When you publish a message that is mutually exclusive and decoupled from delivery of that message. When a bunch of subscribers join a queue group, only one will be selected to process the message. This works over any NATS server topology and is geo aware in super clusters etc.

[2020-06-01 13:16] derekcollison commented on #355
The requestor is the one who specifies it only wants N replies, has nothing to do with the subscribers per se.

[2020-06-01 13:35] hungrymike commented on #355
Thanks for the clarification !

[2020-06-01 13:35] #355 closed

[2020-06-09 18:57] nicogon opened #356 "Subscribe subscribe"

[2020-06-09 18:57] #356 closed

[2020-06-09 19:03] nicogon opened #357 "Subscribe to a null topic generates a reconnect loop"
If I try to subscribe to a null or undefined topic, nats client will enter in a reconnect loop.

Nats server will output the following error `processSub Parse Error: '5'`

No error is emitted by the nats client.

Using latest node client. Server version version: 2.1.7

[2020-06-10 10:24] ChenYida opened #358 "TypeError: url.URL is not a constructor"
Nats.js contains a lot of grammar error when using latest nodejs(14.4).
For example, when I trying to run the sample code, it shows **TypeError: url.URL is not a constructor** error which is really annoying.
I have checked the latest document of nodejs URL, see https://nodejs.org/api/url.html
It says:
Parsing the URL string using the WHATWG API:
const myURL = new URL('https://user:pass@sub.example

[2020-06-10 11:08] ChenYida opened #359 "Is nats capable with React js?"

[2020-06-15 23:30] #357 closed

[2020-06-16 13:02] nicogon commented on #357
thanks guys!

[2020-06-16 14:24] aricart commented on #357
@nicogon - you can download the pre-release with `npm install nats@next`

[2020-06-19 21:45] aricart commented on #354
@chenxyzl github.com/nats-io/nats.deno

[2020-06-19 21:45] #354 closed

[2020-07-10 04:14] kethan opened #363 "Wildcard capture params"
[code]
I want to capture id from the path. How do I achieve the same using wildcard?

[2020-07-10 14:02] aricart commented on #363
@kethan looks like you filed an issue on nats.js, but your code example looks suspiciously like a web application framework signature.

[2020-07-10 14:02] #363 closed

[2020-07-10 17:01] kethan commented on #363
Yes it's express js can I achieve something similar like this using nats wildcard?

[2020-07-11 19:42] aricart commented on #363
your subject can simply be 'user.<id>.etc' and you would subscribe to it as `user.*.etc`.

[2020-07-15 18:04] sgnatonski opened #364 "Subscription stops receiving messages"
Hi, first of all thanks for great work with nats.js.

I'm having troubles determining the issue I'm observing with subscriptions trying to consume messages produced by a publisher (nats.c client publishing messages at rate 20-25 msg/sec). It looks like a problem of slow consumer but I'm unable to figure out how to fix this with nats.js.

I've stripped my code to bare minimum:

[code]

and looks li

[2020-07-15 19:47] aricart commented on #364
@sgnatonski a couple of things you can do first you need to verify if you are getting a slow consumer. One way to do this is to set up the `name` for the client, and then on the server monitoring check if the client was terminated because it was a slow consumer. You'll be able to see your client by name there. For info on how to access the monitoring for the client take a look at https://docs.nats

[2020-07-15 19:51] aricart commented on #364
You should be able to run this program (fix the location of the require for nats first) like this:
`node pubsub -s demo.nats.io -c 1000000 xxxxx`

Note the addition of the `yieldTime` option - this will kick in after the publisher has blasted the number of messages you specified, and when processing a subscription. If the subscription loop takes longer than the specified time (1s), it will give so

[2020-07-15 20:23] aricart commented on #364
If indeed you are getting a slow consumer because the work in your client is taking longer to process, the way to scale horizontally is create multiple node processes that subscribe to the same subject but specify the same `qgroup`. The work of processing the messages will be distributed between all members of the queue.

[2020-07-16 10:00] sgnatonski commented on #364
hi @aricart , thank you so much for such detailed response.

I've followed your advices and ideed your pubsub example works as expected, so I've imported yieldTime option to my code, I've also made sure only 1 publisher and 1 subscriber are connected to nats server. Unfortunately I found no improvement...

i was monitoring the connz endpoint during message processing and I found something interest

[2020-07-16 10:17] sgnatonski commented on #364
I've also split your example into 2 separate scripts (1 for pub, 1 for sub):

[code]

executed as `node natspub -s demo.nats.io -c 100000000 xxxxx`

[code]

executed as `node natssub -s demo.nats.io -c 100000000 xxxxx'
and I was able to reproduce the issue - subscriber hangs after receiving approx 13000 messages:

`Published 100000000 messages` from natspub stdout
`> 13000 messages` from natssub s

[2020-07-16 15:05] aricart commented on #364
Yes this is the correct usage.

I took your scripts as they are and saved them as bulk-pub/sub and ran them:

![render1594910239592](https://user-images.githubusercontent.com/1032976/87685277-d0085080-c748-11ea-9827-519736e56763.gif)

![render1594910083519](https://user-images.githubusercontent.com/1032976/87684832-51abae80-c748-11ea-91c6-867823d92784.gif)

I even triggered the publisher several t

[2020-07-16 15:06] aricart commented on #364
@sgnatonski how big are your payloads?

[2020-07-16 15:12] sgnatonski commented on #364
Payload is usually 20-23 bytes, rarely it exceeds 100 bytes.

I see that you are using different nats.js version (1.4.10-0), while in my case its 1.4.9?

[2020-07-16 15:19] sgnatonski commented on #364
One more thing - during my regular execution I'm also doing request-reply from subscriber process to publisher process - in this case the payload is much bigger, approx 100KB. Somehow it has a negative impact on the amount of messages received by subscription.
In such case subscription callback stops to being called after few hundred messages

[2020-07-16 15:50] sgnatonski commented on #364
Alright, I think I've narrowed it down a bit:

- I've executed my code on Debian machine - runs flawlesly
- if on Debian there are no issues I moved to Win10 machine (on which I observed the issue initialy) and started the code through VS Code with debugger attached - subscription is again stopped at 5191 messages
- I've then ran the code on the same machine (Win10) without debugger - no issue wit